<template>
  <div class="home">
    <div class="section header-page bg-patter">
      <div class="container text-left">
        <h1>Mi Carrito</h1>
      </div>
    </div>

    <div class="section shop-content pt-5 pb-5">
      <div class="container">
        <div class="row text-left">
          <div class="col-12 col-md-8">
            <h5>Carrito ({{$store.getters.cart.length}} elementos)</h5>
            <ul class="cart-list">
              <li class="pl-2" v-for="product in $store.getters.cart" :key="product.id">
                <div class="image">
                  <img
                    :src="'https://backend.construnetwork.com.do/api/image/' + product.feature"
                    alt
                  />
                </div>
                <div class="content">
                  <h5 v-text="product.name"></h5>
                  <span
                    class="price"
                  >RD${{getProductTotal(product.price, product.quantity) | toCurrency}}</span>
                  <div class="quantity">
                    <button @click="removeOneProduct(product)">
                      <i class="fas fa-minus"></i>
                    </button>
                    <span>{{product.quantity}}</span>
                    <button @click="addOtherProduct(product)">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div class="actions">
                    <button class="delete" @click="deleteProduct(product)">
                      <i class="fas fa-trash mr-1"></i> ELIMINAR DEL CARRITO
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-4 pl-5 cart-details">
            <div class="contain-card p-4">
              <h5>Detalles de la orden</h5>
              <table border="0" class="subtotal">
                <tr>
                  <td>Sub Total</td>
                  <td>RD${{getCartTotals() | toCurrency}}</td>
                </tr>
              </table>
              <hr />
              <table border="0" class="total" style="font-weight: bold">
                <tr style="font-weight: bold">
                  <td style="font-weight: bold">Total</td>
                  <td>RD${{getCartTotals() | toCurrency}}</td>
                </tr>
              </table>

              <router-link class="btn btn-primary" tag="button" to="/pago">
                <i class="fas fa-money-bill-wave mr-3"></i>IR A PAGAR
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
/*import axios from "axios";
import Vue from "vue";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";*/

export default {
  name: "Cart",
  components: {
    LoginComponent,
    RegisterComponent,
  },
  data() {
    return {};
  },
  methods: {
    getCartTotals() {
      var cart = this.$store.getters.cart;
      var totals = 0;
      cart.forEach((p) => {
        var pprice = parseFloat(p.price);
        pprice = pprice * parseInt(p.quantity);
        totals += pprice;
      });
      return totals;
    },
    getProductTotal(price, quantity) {
      return parseFloat(price) * parseInt(quantity);
    },
    addOtherProduct(product) {
      this.$store.commit("addToCart", product);
    },
    removeOneProduct(product) {
      this.$store.commit("deleteOneToCart", product);
    },
    deleteProduct(product) {
      this.$store.commit("deleteAllToCart", product);
    },
  },
  mounted() {
    window.scrollTo(0, 0);
  },
  watch: {},
};
</script>
