<template>
  <div class="home">
    <div class="section header-page bg-patter">
      <div class="container text-left">
        <h1>Pagar</h1>
      </div>
    </div>

    <div class="section shop-content pt-5 pb-5">
      <div class="container">
        <form class="form" @submit.prevent="placeOrder()">
          <div class="row text-left">
            <div class="col-12 col-xs-12 col-md-8">
              <h5>Datos de facturación</h5>

              <div class="row">
                <div
                  class="form-group col-12 col-xs-12 col-md-6"
                  :class="(errors.fname.required) ? 'error-field' : ''"
                >
                  <label for>
                    NOMBRES
                    <span>*</span>
                  </label>
                  <input type="text" v-model="fname" />
                  <p class="errors-span">
                    <span
                      v-if="errors.fname.required"
                      style="display: block"
                    >Campo nombres requerido</span>
                  </p>
                </div>
                <div
                  class="form-group col-12 col-xs-12 col-md-6"
                  :class="(errors.lname.required) ? 'error-field' : ''"
                >
                  <label for>
                    APELLIDOS
                    <span>*</span>
                  </label>
                  <input type="text" v-model="lname" />
                  <p class="errors-span">
                    <span
                      v-if="errors.lname.required"
                      style="display: block"
                    >Campo apellidos requerido</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div
                  class="form-group col-12 col-xs-12 col-md-6"
                  :class="(errors.address.required) ? 'error-field' : ''"
                >
                  <label for>
                    DIRECCIÓN
                    <span>*</span>
                  </label>
                  <input type="text" v-model="address" />
                  <p class="errors-span">
                    <span
                      v-if="errors.address.required"
                      style="display: block"
                    >Campo dirección requerido</span>
                  </p>
                </div>
                <div
                  class="form-group col-12 col-xs-12 col-md-6"
                  :class="(errors.city.required) ? 'error-field' : ''"
                >
                  <label for>
                    CIUDAD
                    <span>*</span>
                  </label>
                  <select v-model="city">
                    <option value>Selecciona una ciudad</option>
                    <option v-for="(city, i) in cities" :key="i" :value="city" v-text="city"></option>
                  </select>
                  <p class="errors-span">
                    <span v-if="errors.city.required" style="display: block">Campo ciudad requerido</span>
                  </p>
                </div>
              </div>

              <div class="row">
                <div
                  class="form-group col-12 col-xs-12 col-md-6"
                  :class="(errors.province.required) ? 'error-field' : ''"
                >
                  <label for>
                    PROVINCIA
                    <span>*</span>
                  </label>
                  <input type="text" v-model="province" />
                  <p class="errors-span">
                    <span
                      v-if="errors.province.required"
                      style="display: block"
                    >Campo provincia requerido</span>
                  </p>
                </div>
                <div class="form-group col-12 col-xs-12 col-md-6">
                  <label for>TELÉFONO</label>
                  <input type="text" v-model="phone" />
                </div>
              </div>

              <h5 class="mt-5">Metodo de pago</h5>
              <div class="form-group col-12 col-xs-12 col-md-12">
                <div class="radio-input">
                  <input
                    type="radio"
                    id="check_payment"
                    value="check_payment"
                    name="payment_method"
                    checked
                  />
                  <label for="check_payment" class="ml-3">
                    <i class="fas fa-money-check mr-1"></i> Pago con
                    transferencia
                  </label>
                </div>
              </div>
            </div>
            <div class="col-12 col-xs-12 col-md-4 pl-5 cart-details">
              <div class="contain-card p-4">
                <h5>Detalles de la orden</h5>
                <table border="0" class="subtotal">
                  <tr>
                    <td>Sub Total</td>
                    <td>RD${{ getCartTotals() | toCurrency }}</td>
                  </tr>
                </table>

                <hr />
                <table border="0" class="total" style="font-weight: bold">
                  <tr style="font-weight: bold">
                    <td style="font-weight: bold">Total</td>
                    <td>RD${{ getCartTotals() | toCurrency }}</td>
                  </tr>
                </table>

                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-money-bill-wave mr-3"></i>REALIZAR PEDIDO
                </button>
              </div>
            </div>
          </div>
          <transition name="fade">
          <div class="loader fixed" v-if="loaderOrder">
            <div>
              <h4 style="color: black">Generando orden</h4>
              <img src="../assets/images/loader.gif" alt>
            </div>
          </div>
          </transition>
        </form>
      </div>
    </div>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
import axios from "axios";

import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";

export default {
  name: "Cart",
  components: {
    LoginComponent,
    RegisterComponent,
  },
  data() {
    return {
      cities: [
        "Distrito Nacional",
        "Santo Domingo Este",
        "Santiago de los Caballeros",
        "Santo Domingo Norte",
        "Santo Domingo Oeste",
        "Higuey",
        "San Cristóbal",
        "San Pedro Macorís",
        "San Francisco de Macorís",
        "Concepción de La Vega",
        "Boca chica",
        "San Felipe de Puerto Plata",
        "La Romana",
        "Santa Cruz de Barahona",
        "Baní",
        "San Juan de la Maguana",
        "Bonao",
        "Moca",
        "Azua de Compostela",
        "Cotuí",
        "Santa Cruz de El Seibo",
        "Jarabacoa",
        "Nagua",
        "Santa Bárbara de Samaná",
        "Tamboril",
        "Mao",
        "Esperanza",
        "Pedro Brand",
        "Sosúa",
        "Hato Mayor del Rey",
        "Constanza",
        "Villa Bisonó",
        "Salcedo",
        "Villa Altagracia",
        "Las Matas de Farfán",
        "Monte Plata",
        "Yamasá",
        "San Ignacio de Sabaneta",
        "San José de Las Matas",
        "San Antonio de Guerra",
        "San José de Ocoa",
      ],
      fname: "",
      lname: "",
      address: "",
      city: "",
      province: "",
      phone: "",
      errors: {
        fname: {
          required: false,
          validation: false,
        },
        lname: {
          required: false,
          validation: false,
        },
        address: {
          required: false,
          validation: false,
        },
        city: {
          required: false,
          validation: false,
        },
        province: {
          required: false,
          validation: false,
        },
      },
      loaderOrder: false,
      validForm: false,
    };
  },
  methods: {
    getCartTotals() {
      var cart = this.$store.getters.cart;
      var totals = 0;
      cart.forEach((p) => {
        var pprice = parseFloat(p.price);
        pprice = pprice * parseInt(p.quantity);
        totals += pprice;
      });
      return totals;
    },
    requireValidation(val, elem) {
      if (val == "") {
        elem.required = true;
      } else {
        elem.required = false;
      }
    },
    placeOrder() {      
      var vm = this;
      vm.loaderOrder = true;
      vm.validateForm();
      console.log(vm.validForm);
      if(vm.validForm) {   
         var data = new FormData();
          data.append("client_id", vm.$cookie.get("uid"));
          data.append("items", vm.$store.getters.cart);
          data.append("billing_info", {
            fname: vm.fname,
            lname: vm.lname,
            address: vm.address,
            city: vm.city,
            province: vm.province,
          });
          data.append("total", vm.getCartTotals());
          data.append("status", "pending_payment"); 

        axios
        .post(vm.$store.getters.baseurl + '/orders', data)
        .then(function(response) {
          console.log(response);
          Toastify({
            text: "Tu orden se ha generado con éxito.",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#29c44f",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();          
        })
        .catch(function(error) {
          console.log(error);
          vm.loaderOrder = false;
          Toastify({
            text: "Error creando orden, intenta de nuevo.",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#E01028",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
        });

      } else {
        setTimeout(() => {
          vm.loaderOrder = false;
        }, 200);
      }
    },
    validateForm() {
      this.requireValidation(this.fname, this.errors.fname);
      this.requireValidation(this.lname, this.errors.lname);
      this.requireValidation(this.address, this.errors.address);
      this.requireValidation(this.city, this.errors.city);
      this.requireValidation(this.province, this.errors.province);
      this.validForm = true;
      if(this.errors.fname.required || this.errors.lname.required || this.errors.address.required
        || this.errors.city.required || this.errors.province.required ) {
          this.validForm = false;
      }
    },
    getLoggedStatus() {
      if(!this.$cookie.get("token") || this.$cookie.get("token") == null) {
        return false;
      }
      return true;
    },
  },
  mounted() {
    window.scrollTo(0, 0);
    if(!this.getLoggedStatus()) {
      this.$router.push({ name: "Login"});
    }
  },
  watch: {
    fname: function (val) {
      this.requireValidation(val, this.errors.fname);
    },
    lname: function (val) {
      this.requireValidation(val, this.errors.lname);
    },
    address: function (val) {
      this.requireValidation(val, this.errors.address);
    },
    city: function (val) {
      this.requireValidation(val, this.errors.city);
    },
    province: function (val) {
      this.requireValidation(val, this.errors.province);
    },
  },
};
</script>
