<template>
  <div class="home">
    <slick ref="slick" :options="slickOptions" class="slick-home">
      <div class="slide-home-item">
        <img src="../assets/images/slider-home/slide0.jpg" alt />
        <img src="../assets/images/main-home-bar.png" alt class="banner" />
        <div class="content">
          <div>
            <small>EXPLORA LOS BENEFICIOS</small>
            <span class="title">Club de compras</span>
            <p>
              Contamos con un amplio catalogo en el area de construcción,
              <br />con suplidores de alta calidad y precios excelentes.
            </p>
            <div class="buttons mt-5">
              <router-link tag="a"  class="btn btn-primary mr-3" to="/shop">Ver Más</router-link>                                          
              <router-link tag="a" class="btn btn-secondary" to="/register">Registrate</router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-home-item">
        <img src="../assets/images/slider-home/slide1.jpg" alt />
        <img src="../assets/images/main-home-bar.png" alt class="banner" />
        <div class="content">
          <div>
            <small>A TU MEDIDA</small>
            <span class="title">MEMBRESIAS</span>
            <p>
              Tenemos membresias variadas para diferentes necesitades
              <br />contactanos para mas información.
            </p>
            <div class="buttons mt-5">
              <a @click="openMemberships()" class="btn btn-primary mr-3">Ver Más</a>
              <router-link tag="a" class="btn btn-secondary" to="/register">Registrate</router-link>
            </div>
          </div>
        </div>
      </div>
    </slick>

    <div class="section py-10">
      <div class="container text-left">
        <h1 class="mb-4">SUPLIDORES CERTIFICADOS</h1>

        <div class="row">
          <div class="col-12 col-md-3 suppliers" v-for="item in blocksCats" :key="item.img">
            <div class="image">
              <img :src="item.img" alt />
              <div class="content">
                <a @click="openCategory(5)">Ver más</a>
              </div>
            </div>
            <h5 class="mt-2" v-text="item.text"></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="section py-10 bg-primary dark">
      <div class="container text-left mb-5 relative">
        <h1 class="mb-4">Suscríbase a nuestro boletín</h1>
        <div class="form-boletin">
          <input type="text" placeholder="Correo eléctronico" />
          <button class="btn btn-secondary">SUBSCRIBEME</button>
        </div>
      </div>
    </div>

    <!-- Memberships -->
    <MembershipsComponent></MembershipsComponent>

    <div class="section py-10 dark pb-0">
      <div class="container text-left mb-5">
        <h1 class="mb-4">GALERÍA</h1>
      </div>

      <div class="grid-gallery">
        <div class="item item-gallery" :class="item.class" v-for="item in blocks" :key="item.id">
          <div class="item-content">
            <img :src="item.img" alt />
            <div class="content">
              <small>PROJECTO</small>
              <h4>Titulo proyecto</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section py-10 bg-patter">
      <div class="container text-left mb-5">
        <h1 class="mb-4">CONTACTANOS</h1>

        <form action class="form">
          <div class="form-group">
            <label for>
              NOMBRE COMPLETO
              <span>REQUERIDO</span>
            </label>
            <input type="text" value />
          </div>
          <div class="form-group">
            <label for>
              CORREO ELECTRÓNICO
              <span>REQUERIDO</span>
            </label>
            <input type="text" value />
          </div>
          <div class="form-group">
            <label for>
              MENSAJE
              <span>REQUERIDO</span>
            </label>
            <textarea name id cols="30" rows="7"></textarea>
          </div>
          <div class="form-group mt-5">
            <button class="btn btn-primary">ENVIAR</button>
          </div>
        </form>
      </div>
    </div>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
import MembershipsComponent from '../components/home/Memberships'

import Slick from "vue-slick";
import "slick-carousel/slick/slick.css";
import Masonry from "masonry-layout";

export default {
  name: "Home",
  components: {
    Slick,
    LoginComponent,
    RegisterComponent,
    MembershipsComponent
  },
  data() {
    return {
      slickOptions: {
        slidesToShow: 1,
        arrows: false,
        autoplay: true,
        fade: true
      },
      blocksCats: [
        {
          img: require("../assets/images/home-cats/cocinas.jpg"),
          text: "COCINAS",
          link: "#!"
        },
        {
          img: require("../assets/images/home-cats/prefileria.jpg"),
          text: "PERFILERIA DE ALUMINIO",
          link: "#!"
        },
        {
          img: require("../assets/images/home-cats/revestimientos.png"),
          text: "REVESTIMIENTOS",
          link: "#!"
        },
        {
          img: require("../assets/images/home-cats/plomeria.jpg"),
          text: "PLOMERIA",
          link: "#!"
        },
        {
          img: require("../assets/images/home-cats/aires.jpg"),
          text: "AIRES ACONDICIONADOS",
          link: "#!"
        },
        {
          img: require("../assets/images/home-cats/electricidad.jpg"),
          text: "ILUMINACIÓN",
          link: "#!"
        },
        {
          img: require("../assets/images/home-cats/PISCINAS.jpg"),
          text: "PISCINAS",
          link: "#!"
        },
        {
          img: require("../assets/images/home-cats/muebles.jpg"),
          text: "MUEBLES",
          link: "#!"
        }
      ],
      blocks: [
        {
          img:
            "https://wilmer.qodeinteractive.com/wp-content/uploads/2019/01/port-img-30.png",
          class: "sc-md-6"
        },
        {
          img:
            "https://wilmer.qodeinteractive.com/wp-content/uploads/2019/01/port-img-33.jpg",
          class: "sc-md-3"
        },
        {
          img:
            "https://wilmer.qodeinteractive.com/wp-content/uploads/2019/01/port-img-31-300x300.jpg",
          class: "sc-md-3"
        },
        {
          img:
            "https://wilmer.qodeinteractive.com/wp-content/uploads/2019/01/port-img-34.jpg",
          class: "sc-md-3"
        },
        {
          img:
            "https://wilmer.qodeinteractive.com/wp-content/uploads/2019/01/port-img-32-150x150.jpg",
          class: "sc-md-3"
        },
        {
          img:
            "https://wilmer.qodeinteractive.com/wp-content/uploads/2019/01/port-img-35.jpg",
          class: "sc-md-6"
        }
      ],
      masonryInstance: null
    };
  },
  mounted() {
    var grid = document.querySelector(".grid-gallery");
    this.masonryInstance = new Masonry(grid, {
      // options...
      columnWidth: ".sc-md-3",
      itemSelector: ".item",
      percentPosition: true
    });
    window.scrollTo(0, 0);
  },
  methods: {
    openCategory(id) {
      this.$router.push({ name: "Shop", params: { catId: id } }, () => {
        window.scrollTo(0, 0);
      });
    },
    openMemberships() {      
      this.$router.push({ name: "Home"}, () => {        
        setTimeout(() => {                    
          var top = document.getElementById('memberships-section').offsetTop;
          window.scrollTo(0, top);
        },500)
      });
      var top = document.getElementById('memberships-section').offsetTop;
      window.scrollTo(0, top);
    }
  }
};
</script>
