<template>
  <div class="home">
    <div class="section header-page bg-patter">
      <div class="container text-left">
        <h1>INSTALADORES</h1>
      </div>
    </div>

    <div class="section shop-content">
      <div class="row">      

        <div class="col-12 col-xs-12 col-md-12 col-lg-12 pl-5 content-shop">
          <div class="navbar pt-5">
            <div class="results-info">MOSTRANDO {{paginationInfo.start}}-{{paginationInfo.end}} DE {{paginationInfo.total}} RESULTADOS</div>
          </div>

          <div class="products pr-4">
            <div class="loader" v-if="loading">
              <img src="../assets/images/loader.gif" alt />
            </div>    

            <div class="p-5 py-8 text-center bg-patter" v-if="paginationInfo.total == 0">
              No hay resultados {{getNotResults()}}
            </div>

              <transition-group name="list" tag="div" class="row" style="width:100%"> 
              <div
                class="product-item col-6 col-xs-6 col-md-4 col-lg-3"
                v-for="supplier in getSuppliers()"
                :key="supplier.id"
              >              
                <div class="image">
                  <a href="#!">
                    <img :src="((supplier.business_logo) ? getThumbnail(supplier.business_logo) : 'http://placehold.jp/e6e6e6/949494/300x200.png?text=Logo')" alt />
                  </a>
                  <a href="#!" class="btn-add-to-cart">
                    <i class="fas fa-store-alt mr-2"></i> <span>Visitar tienda del suplidor</span>
                  </a>
                  <div class="loading-add-to-cart" v-if="loadingAddToCart && addToCartID == product.id">
                     <div>
                       <img src="../assets/images/loader.gif" alt />
                    Agregando al carrito
                     </div>
                  </div>
                </div>
                <div class="content">
                  <a href="#!">
                    <span class="category" v-text="supplier.role"></span>
                    <h4 v-text="supplier.business"></h4>                    
                  </a>
                </div>
                
              </div>              
              </transition-group>            
            
          </div>
        </div>
      </div>
    </div>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
import axios from "axios";
import Vue from "vue";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";

var filter = function(text, length, clamp) {
  return text.length > length ? text.slice(0, length) + clamp : text;
};

Vue.filter("truncate", filter);

export default {
  name: "Home",
  components: {
    LoginComponent,
    RegisterComponent
  },
  props: ["catId"],
  data() {
    return {
      endpoint: "/querySuppliers",
      suppliers: [],
      loading: true,
      loadingAddToCart: false,
      addToCartID: false,
      categoriesList: [],
      filterCategory: "all",
      search: "",
      paginationInfo: {
        start: 1,
        end: 12,
        total: 15
      }
    };
  },
  methods: {
    loadData() {
      var vm = this;
      vm.loading = true;
      axios
        .get(vm.$store.getters.baseurl + vm.endpoint, {})
        .then(function(response) {
          console.log(response);
          //vm.suppliers = response.data;
          vm.loading = false;
        })
        .catch(function(error) {
          console.log(error);
          vm.loading = false;
        });
    },
    loadCategories() {
      var vm = this;
       axios
      .get(vm.$store.getters.baseurl + "/queryCategories?type=supplier", {})
      .then(function(response) {
        console.log(response);
        vm.categoriesList = response.data;
        
      })
      .catch(function(error) {
        console.log(error);
      });
    },
    getThumbnail(id) {
      return this.$store.getters.baseurl + "/image/" + id;
    },
    getCategories(ids, isJson = true) {
      var vm = this;
      var cats = [];
      if(isJson) {
        cats = JSON.parse(ids);
      } else {
        cats = ids;
      }
      var catsNames = [];
      cats.forEach(id => {
        Object.keys(vm.categoriesList).forEach(function(key) {
          var catObj = vm.categoriesList[key];
          if(id == catObj.id) {
            catsNames.push(catObj.name);
          }
        });
      });
      return catsNames.join(",");
    },
    getSuppliers() {
      var suppliers = []; 
      var vm = this;
      suppliers = this.suppliers;
       var total = suppliers.length;
      vm.paginationInfo.total = total;
      if(total < 12) {
        vm.paginationInfo.start = (total > 0) ? 1 : 0;
        
        vm.paginationInfo.end = total;
      }   
      return suppliers;
    },
    getNotResults() {
     return "";
    },
    addToCart(product) {      
      var vm = this;
      vm.loadingAddToCart = true;
      vm.addToCartID = product.id;
      vm.$store.commit("addToCart", product);
      console.log(this.$store.getters.cart);
      setTimeout(() => {
        vm.loadingAddToCart = false;

        Toastify({
            text: '<i class="fas fa-shopping-cart pr-2"></i> Producto agregado al carrito!',
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            backgroundColor: "#29c44f",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
      }, 500);
    }
  },
  mounted() {    
    this.loadData();
    window.scrollTo(0, 0);
  },
  watch: {
    search: function() {
      this.filterCategory = "all";
    }
  }
};
</script>
