<template>
  <div class="home">

  <transition name="fade">
      <div class="loader noalphaloader" v-if="loading">
        <img src="../assets/images/loader.gif" alt />
      </div>   
    </transition>

    <div class="section header-page bg-patter">
      <div class="container text-left">
        <h1>Iniciar sesión</h1>
      </div>
    </div>

    <div class="section shop-content pt-5 pb-5">
      <div class="container">
        <form action class="form mb-4 px-5 text-left" @submit.prevent="submitForm()">
          <div class="form-group">
            <label for>
              Correo eléctronico
              <span>*</span>
            </label>
            <input type="email" placeholder v-model="email" required />
          </div>
          <div class="form-group">
            <label for>
              Contraseña
              <span>*</span>
            </label>
            <input type="password" placeholder v-model="password" required />
          </div>
          <div class="form-group text-center py-4">
            <button class="btn btn-primary">
              <i class="fas fa-user-check mr-2"></i> ENTRAR
            </button>
        
          </div>
        </form>
        <div class="loader" v-if="loader">
          <img src="../assets/images/loader.gif" alt />
        </div>
      </div>
    </div>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
import axios from "axios";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";

export default {
  name: "Cart",
  components: {
    LoginComponent,
    RegisterComponent
  },
  data() {
    return {
      endpoint: "/login",
      email: "",
      password: "",
      loader: false,
      loading: true
    };
  },
  methods: {
    openRegister() {
      this.$store.commit("changeRegisterPopup", true);
    },
    submitForm() {
      var vm = this;
      vm.loader = true;
      var data = new FormData();
      data.append("email", vm.email);
      data.append("password", vm.password);

      axios
        .post(vm.$store.getters.baseurl + vm.endpoint, data)
        .then(function(response) {
          console.log(response);
          Toastify({
            text: "Bienvenido a Construnetwork " + response.data.data.name,
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#29c44f",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
          vm.hide = true;
          vm.$cookie.set("name", response.data.data.name, 1);
          vm.$cookie.set("role", response.data.data.role, 1);
          vm.$cookie.set("token", response.data.data.token, 1);
          vm.$cookie.set("uid", response.data.data.id, 1);
          vm.$cookie.set("logo", response.data.data.logo, 1);
          vm.$store.commit("setUser", response.data.data.name);
          vm.$store.commit("setRole", response.data.data.role);
          vm.$store.commit("setId", response.data.data.id);
          vm.$store.commit("setToken", response.data.data.token);
          vm.$store.commit("setLogo", response.data.data.logo);

          if (vm.$store.getters.environment == 1) {
            var data = new FormData();
            data.append("name", response.data.data.name);
            data.append("role", response.data.data.role);
            data.append("token", response.data.data.token);
            data.append("uid", response.data.data.id);

            var dataBase64 = {
              name: response.data.data.name,
              role: response.data.data.role,
              token: response.data.data.token,
              uid: response.data.data.id
            };

            var encoded = JSON.stringify(dataBase64);
            console.log(encoded);
            window.location =
              "https://dashboard.construnetwork.com.do?logged=" + btoa(encoded);
          } else {
            window.location = "http://localhost:8080";
          }
        })
        .catch(function(error) {
          console.log(error);
          Toastify({
            text: "Credenciales invalidas",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#E01028",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
          vm.loader = false;
        });
    },
    getLoggedStatus() {
      if(!this.$cookie.get("token") || this.$cookie.get("token") == null) {
        return false;
      }
      return true;
    },
  },
  mounted() {
    window.scrollTo(0, 0);
    if(this.getLoggedStatus()) {
      this.$router.push({ name: "Home"});
    }
    this.loading = false;
  },
  watch: {}
};
</script>
