<template>
  <div class="logout">
   
  </div>
</template>

<script>
export default {
  name: "Dashboard",
  data() {
    return {
      
    };
  },
  beforeCreate() {
      this.$cookie.delete("name");
      this.$cookie.delete("token");
      this.$cookie.delete("uid");
      this.$cookie.delete("role");
      this.$cookie.delete("logo");
      this.$store.commit("setUser", "");
      this.$store.commit("setRole", "");
      this.$store.commit("setId", null);
      this.$store.commit("setToken", null);
      this.$store.commit("setLogo", null);
      location.href = "/";
  }
};
</script>