<template>
  <div class="home">
    <div class="section header-page bg-patter">
      <div class="container text-left">
        <h1>404</h1>
      </div>
    </div>

    <div class="section py-5">
        <h2>NO PUDIMOS ENCONTRAR LA PÁGINA.</h2>
        <router-link tag="a" class="btn btn-primary mt-5" to="/">IR A INICIO</router-link>
        
    </div>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
/*import axios from "axios";
import Vue from "vue";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";*/


export default {
  name: "Home",
  components: {
    LoginComponent,
    RegisterComponent
  },
  data() {
    return {
      
    };
  },
  methods: {
    
  },
  mounted() {    
    
    window.scrollTo(0, 0);
  },
  watch: {
    
  }
};
</script>
