<template>
  <div class="home">
    <div class="section py-10 bg-patter">
      <div class="container text-left mb-5">
        <h1 class="mb-4">Registrate</h1>

        <form action class="form" @submit.prevent="submitForm()" style="position: relative">
          <div class="form-group">
            <label for>
              NOMBRES
              <span>REQUERIDO</span>
            </label>
            <input type="text" v-model="form.firstname" />
          </div>
          <div class="form-group">
            <label for>
              APELLIDOS
              <span>REQUERIDO</span>
            </label>
            <input type="text" v-model="form.lastname" />
          </div>
          <div class="form-group">
            <label for>
              CORREO ELECTRÓNICO
              <span>REQUERIDO</span>
            </label>
            <input type="text" v-model="form.email" />
          </div>
          <div class="form-group">
            <label for>
              EMPRESA
              <span>REQUERIDO</span>
            </label>
            <input type="text" v-model="form.business" />
          </div>
          <div class="form-group">
            <label for>
              DIRECCIÓN
              <span>REQUERIDO</span>
            </label>
            <input type="text" v-model="form.address" />
          </div>
          <div class="form-group">
            <label for>
              TÉLEFONO
              <span>REQUERIDO</span>
            </label>
            <input type="text" v-model="form.phone" />
          </div>
          <div class="form-group">
            <label for>
              LOGOTIPO
              <span>REQUERIDO</span>
            </label>
            <img :src="image_logo" alt class="thumbUpload" />
            <input type="file" :id="'logo'" accept="image/*" @change="onChange" ref="file" />
            <caption @click="inputFile('logo')">
              <span v-text="label_upload_logo">Seleccione su logotipo</span>
              <div class="progress-upload" :style="{'width': widthP1}"></div>
            </caption>
          </div>

          <div class="form-group">
            <label for>
              BANNER (Minimo 200x600 px)
              <span>REQUERIDO</span>
            </label>
            <img :src="image_banner" alt class="thumbUpload" />
            <input type="file" :id="'banner'" accept="image/*" @change="onChange" ref="file1" />
            <caption @click="inputFile('banner')">
              <span v-text="label_upload_banner">Seleccione su banner</span>
              <div class="progress-upload" :style="{'width': widthP2}"></div>
            </caption>
          </div>

          <div class="form-group mt-5">
            <button class="btn btn-primary" v-text="buttonText">ENVIAR</button>
          </div>
          <div class="loader" v-if="loader">
            <img src="../assets/images/loader.gif" alt />
          </div>
        </form>
      </div>
    </div>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
import axios from "axios";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";

export default {
  name: "Home",
  components: {
    LoginComponent,
    RegisterComponent
  },
  data() {
    return {
      typeSelected: null,
      widthP1: "0%",
      widthP2: "0%",
      label_upload_logo: "Seleccione su logotipo",
      label_upload_banner: "Seleccione su banner",
      image_logo: "",
      image_banner: "",
      registerEndPoint: "/register",
      loader: false,
      buttonText: "ENVIAR",
      form: {
        firstname: "",
        lastname: "",
        name: "",
        email: "",
        password: "!cn.pass$2020",
        c_password: "!cn.pass$2020",
        role: "supplier",
        business: "",
        phone: "",
        address: "",
        logo: "",
        banner: "",
        status: "inactive"
      }
    };
  },
  methods: {
    inputFile(type) {
      this.typeSelected = type;
      document.getElementById(type).click();
    },
    onChange() {
      var vm = this;
      var reader = new FileReader();
      if (vm.typeSelected == "logo") {
        if (vm.$refs.file.files && vm.$refs.file.files[0]) {
          vm.widthP1 = "50%";
          vm.label_upload_logo = "Subiendo logo... espera por favor.";
          reader.onload = function(e) {
            console.log(e.target.result);
          };
          reader.readAsDataURL(vm.$refs.file.files[0]);
          this.uploadFile(vm.$refs.file.files[0]);
        }
      } else {
        if (vm.$refs.file1.files && vm.$refs.file1.files[0]) {
          vm.widthP2 = "50%";
          vm.label_upload_banner = "Subiendo banner... espera por favor.";
          var img = new Image();
          var _URL = window.URL || window.webkitURL;
          var objectUrl = _URL.createObjectURL(vm.$refs.file1.files[0]);
          img.onload = function() {
            if (this.width < 600 || this.height < 200) {
              vm.widthP2 = "0%";
              alert("La imagen es muy pequeña");
              vm.label_upload_banner = "Seleccione su banner";
            } else {
              vm.uploadFile(vm.$refs.file1.files[0]);
            }
            _URL.revokeObjectURL(objectUrl);
          };
          img.src = objectUrl;
        }
      }
    },
    uploadFile(file) {
      var vm = this;
      var fromData = new FormData();
      fromData.append("file", file);
      fromData.append("uid", 0);
      axios
        .post(vm.$store.getters.baseurl + "/publicFileStore", fromData)
        .then(function(response) {
          if (vm.typeSelected == "logo") {
            vm.widthP1 = "100%";
            vm.label_upload_logo = "Subido con exito!!";
            vm.image_logo = response.data.images.thumbnail;
            vm.form.logo = response.data.id;
          } else {
            vm.widthP2 = "100%";
            vm.label_upload_banner = "Subido con exito!!";
            vm.image_banner = response.data.images.banner;
            vm.form.banner = response.data.id;
          }
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    submitForm() {
      var vm = this;
      vm.buttonText = "ENVIANDO...";
      vm.loader = true;
      var data = new FormData();
      data.append("name", vm.form.firstname + " " + vm.form.lastname);
      data.append("email", vm.form.email);
      data.append("password", vm.form.password);
      data.append("c_password", vm.form.c_password);
      data.append("first_name", vm.form.firstname);
      data.append("last_name", vm.form.lastname);
      data.append("business", vm.form.business);
      data.append("phone", vm.form.phone);
      data.append("membershipID", 0);
      data.append("role", vm.form.role);
      data.append("business_logo", vm.form.logo);
      data.append("business_banner", vm.form.banner);
      data.append("status", "inactive");

      axios
        .post(vm.$store.getters.baseurl + vm.registerEndPoint, data)
        .then(function(response) {
          console.log(response);
          Toastify({
            text: "Te has registrado exitosamente.",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#29c44f",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
          vm.buttonText = "ENVIAR";
          vm.loader = false;
        })
        .catch(function(error) {
          console.log(error);
          Toastify({
            text: "Error creando la cuenta, revisa los datos.",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#E01028",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
          vm.buttonText = "ENVIAR";
          vm.loader = false;
        });
    }
  },
  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>
