<template>
  <div class="home">
    <transition name="fade">
      <div class="loader noalphaloader" v-if="loading">
        <img src="../assets/images/loader.gif" alt />
      </div>
    </transition>

    <div class="section header-page bg-patter">
      <div class="container text-left">
        <h1>Registro de cliente</h1>
      </div>
    </div>

    <div class="section  pt-5 pb-5">
      <div class="container">

        <div class="section py-10" id="memberships-section" v-if="false">
          <div class="container text-left mb-5">            
            <div class="row">
              <div class="cols-12 col-md-4 col-lg-4 pl-0 pr-3">
                <div class="membreship-box " >
                  <h4>Personal</h4>
                  <div class="price">
                    <h2>14.99</h2>
                    <sup>$</sup>
                    <span>AL MES</span>
                    <div class="clearfix"></div>
                  </div>
                  <ul>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Derecho a registrar perfil de su empresa</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Consulta ilimitada de afiliados</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Cantidad ilimitada de Cotizaciones</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Archivo de cotizaciones</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Atencion por correo electronico</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Listado de proyectos</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Acceso a subastas para cotizar proyectos</span>
                    </li>
                  </ul>
                  <div class="action text-center mt-5">
                    <a href="#!" class="btn btn-primary">Activo</a>
                  </div>
                </div>
              </div>
              <div class="cols-12 col-md-4 col-lg-4 pl-0 pr-0">
                <div class="membreship-box">
                  <h4>Empresarial</h4>
                  <div class="price">
                    <h2>29.99</h2>
                    <sup>$</sup>
                    <span>AL MES</span>
                    <div class="clearfix"></div>
                  </div>
                  <ul>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Derecho a registrar perfil de su empresa</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Consulta ilimitada de afiliados</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Cantidad ilimitada de Cotizaciones</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Archivo de cotizaciones</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Atencion por correo electronico</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Listado de proyectos</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Acceso a subastas para cotizar proyectos</span>
                    </li>
                  </ul>
                  <div class="action text-center mt-5">
                    <a href="#!" class="btn btn-primary">Seleccionar</a>
                  </div>
                </div>
              </div>
              <div class="cols-12 col-md-4 col-lg-4 pl-3 pr-0">
                <div class="membreship-box ">
                  <h4>Club de compras</h4>
                  <div class="price">
                    <h2>49.99</h2>
                    <sup>$</sup>
                    <span>AL MES</span>
                    <div class="clearfix"></div>
                  </div>
                  <ul>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Derecho a registrar perfil de su empresa</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Consulta ilimitada de afiliados</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Cantidad ilimitada de Cotizaciones</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Archivo de cotizaciones</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Atencion por correo electronico</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Listado de proyectos</span>
                    </li>
                    <li>
                      <i class="fas fa-check"></i>
                      <span>Acceso a subastas para cotizar proyectos</span>
                    </li>
                  </ul>
                  <div class="action text-center mt-5">
                    <a href="#!" class="btn btn-primary">Seleccionar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <form action class="form mb-4 px-5 text-left" @submit.prevent="submitForm()">
          <div class="form-group col6 pr-2">
            <label for>
              Nombres
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="firstname" required />
          </div>
          <div class="form-group col6 pl-2">
            <label for>
              Apellidos
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="lastname" required />
          </div>
          <div class="form-group col6 pr-2">
            <label for>
              Correo eléctronico
              <span>*</span>
            </label>
            <input type="email" placeholder v-model="email" required />
          </div>
          <div class="form-group col6 pl-2">
            <label for>
              Teléfono
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="phone" />
          </div>
          <div class="form-group col6 pr-2" v-if="role=='supplier'">
            <label for>
              Empresa
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="business" />
          </div>
          <div class="form-group col6 pl-2" v-if="role=='supplier'">
            <label for>
              R.N.C
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="rnc" />
          </div>
          <div class="form-group" v-if="role=='supplier'">
            <label for>
              Teléfono de oficina
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="business_phone" />
          </div>
          <div class="form-group">
            <label for>
              Dirección
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="address" required />
          </div>
          <div class="form-group">
            <label for>
              Urbanización
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="urbanization" required />
          </div>
          <div
            class="form-group"
            :class="(errors.pass.required || errors.pass.strength) ? 'error-field' : ''"
          >
            <label for>
              Contraseña
              <span>*</span>
            </label>
            <input type="password" placeholder v-model="password" />
            <p v-id="errors.pass.required || errors.pass.strength" class="errors-span">
              <span v-if="errors.pass.required" style="display: block">Contraseña requerida</span>
              <span v-if="errors.pass.strength" style="display: block">Minimo 8 caracteres</span>
            </p>
          </div>
          <div class="form-group" :class="(errors.pass.validation) ? 'error-field' : ''">
            <label for>
              Confirmar Contraseña
              <span>*</span>
            </label>
            <input type="password" placeholder v-model="c_password" />
            <p v-id="errors.pass.validation" class="errors-span">
              <span v-if="errors.pass.validation" style="display: block">Contraseñas no conciden</span>
            </p>
          </div>
          <div class="form-group text-center py-4">
            <button class="btn btn-primary">
              <i class="fas fa-user-plus mr-2"></i> REGISTRARME
            </button>
            <span class="ml-5">
              Ya tienes una cuenta ?
              <router-link tag="a" to="/entrar" class="primary-link">Inicia sesión aqui</router-link>
            </span>
          </div>
        </form>

        <div class="success-register py-4" v-if="hide">
          <p>
            Tu cuenta se creo con éxito,
            <br />ya puedes
            <a href="#!" @click.prevent="openLogin()">ingresar a Construnetwork</a>.
          </p>
        </div>
        <div class="loader" v-if="loader">
          <img src="../assets/images/loader.gif" alt />
        </div>
      </div>
    </div>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
import axios from "axios";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";

export default {
  name: "Cart",
  components: {
    LoginComponent,
    RegisterComponent,
  },
  data() {
    return {
      registerEndPoint: "/register",
      firstname: "",
      lastname: "",
      name: "",
      email: "",
      password: "",
      c_password: "",
      role: null,
      business: "",
      rnc: "",
      business_phone: "",
      urbanization: "",
      phone: "",
      address: "",
      hide: false,
      errors: {
        pass: {
          required: false,
          strength: false,
          validation: false,
        },
      },
      formValid: true,
    };
  },
  methods: {
    openRegister() {
      this.$store.commit("changeRegisterPopup", true);
    },
    submitForm() {
      var vm = this;
      vm.loader = true;
      var data = new FormData();
      data.append("email", vm.email);
      data.append("password", vm.password);

      axios
        .post(vm.$store.getters.baseurl + vm.endpoint, data)
        .then(function (response) {
          console.log(response);
          Toastify({
            text: "Bienvenido a Construnetwork " + response.data.data.name,
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#29c44f",
            stopOnFocus: true, // Prevents dismissing of toast on hover
          }).showToast();
          vm.hide = true;
          vm.$cookie.set("name", response.data.data.name, 1);
          vm.$cookie.set("role", response.data.data.role, 1);
          vm.$cookie.set("token", response.data.data.token, 1);
          vm.$cookie.set("uid", response.data.data.id, 1);
          vm.$cookie.set("logo", response.data.data.logo, 1);
          vm.$store.commit("setUser", response.data.data.name);
          vm.$store.commit("setRole", response.data.data.role);
          vm.$store.commit("setId", response.data.data.id);
          vm.$store.commit("setToken", response.data.data.token);
          vm.$store.commit("setLogo", response.data.data.logo);

          if (vm.$store.getters.environment == 1) {
            var data = new FormData();
            data.append("name", response.data.data.name);
            data.append("role", response.data.data.role);
            data.append("token", response.data.data.token);
            data.append("uid", response.data.data.id);

            var dataBase64 = {
              name: response.data.data.name,
              role: response.data.data.role,
              token: response.data.data.token,
              uid: response.data.data.id,
            };

            var encoded = JSON.stringify(dataBase64);
            console.log(encoded);
            window.location =
              "https://dashboard.construnetwork.com.do?logged=" + btoa(encoded);
          } else {
            window.location = "http://localhost:8080";
          }
        })
        .catch(function (error) {
          console.log(error);
          Toastify({
            text: "Credenciales invalidas",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#E01028",
            stopOnFocus: true, // Prevents dismissing of toast on hover
          }).showToast();
          vm.loader = false;
        });
    },
    getLoggedStatus() {
      if (!this.$cookie.get("token") || this.$cookie.get("token") == null) {
        return false;
      }
      return true;
    },
  },
  mounted() {
    window.scrollTo(0, 0);
    if (this.getLoggedStatus()) {
      this.$router.push({ name: "Home" });
    }
    this.loading = false;
  },
  watch: {},
};
</script>
