<template>
  <div class="home">
    <transition name="fade">
      <div class="loader noalphaloader" v-if="loading">
        <img src="../assets/images/loader.gif" alt />
      </div>
    </transition>

    <div class="section header-page bg-patter">
      <div class="container text-left">
        <h1>Registro</h1>
      </div>
    </div>

    <div class="section  pt-0 pb-5">
      <div class="container">

        <!-- Memberships -->
        <MembershipsComponent :OnSelectMembership="membershipSelected"></MembershipsComponent>
      

        <form action class="form mb-4 px-5 text-left" @submit.prevent="submitForm()">
          <div class="form-group col6 pr-2">
            <label for>
              Nombres
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="firstname" required />
          </div>
          <div class="form-group col6 pl-2">
            <label for>
              Apellidos
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="lastname" required />
          </div>
          <div class="form-group col6 pr-2">
            <label for>
              Correo eléctronico
              <span>*</span>
            </label>
            <input type="email" placeholder v-model="email" required />
          </div>
          <div class="form-group col6 pl-2">
            <label for>
              Teléfono
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="phone" />
          </div>
          <div class="form-group col6 pr-2" v-if="role=='supplier'">
            <label for>
              Empresa
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="business" />
          </div>
          <div class="form-group col6 pl-2" v-if="role=='supplier'">
            <label for>
              R.N.C
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="rnc" />
          </div>
          <div class="form-group" v-if="role=='supplier'">
            <label for>
              Teléfono de oficina
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="business_phone" />
          </div>
          <div class="form-group">
            <label for>
              Dirección
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="address" required />
          </div>
          <div class="form-group">
            <label for>
              Urbanización
              <span>*</span>
            </label>
            <input type="text" placeholder v-model="urbanization" required />
          </div>
          <div
            class="form-group"
            :class="(errors.pass.required || errors.pass.strength) ? 'error-field' : ''"
          >
            <label for>
              Contraseña
              <span>*</span>
            </label>
            <input type="password" placeholder v-model="password" />
            <p class="errors-span">
              <span v-if="errors.pass.required" style="display: block">Contraseña requerida</span>
              <span v-if="errors.pass.strength" style="display: block">Minimo 8 caracteres</span>
            </p>
          </div>
          <div class="form-group" :class="(errors.pass.validation) ? 'error-field' : ''">
            <label for>
              Confirmar Contraseña
              <span>*</span>
            </label>
            <input type="password" placeholder v-model="c_password" />
            <p class="errors-span">
              <span v-if="errors.pass.validation" style="display: block">Contraseñas no conciden</span>
            </p>
          </div>
          <div class="form-group text-center py-4">
            <button class="btn btn-primary">
              <i class="fas fa-user-plus mr-2"></i> REGISTRARME
            </button>
            <span class="ml-5">
              Ya tienes una cuenta ?
              <router-link tag="a" to="/entrar" class="primary-link">Inicia sesión aqui</router-link>
            </span>
          </div>
        </form>

        <div class="success-register py-4" v-if="hide">
          <p>
            Tu cuenta se creo con éxito,
            <br />ya puedes
            <a href="#!" @click.prevent="openLogin()">ingresar a Construnetwork</a>.
          </p>
        </div>
        <div class="loader" v-if="loader">
          <img src="../assets/images/loader.gif" alt />
        </div>
      </div>
    </div>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
import MembershipsComponent from '../components/register/Memberships'
import axios from "axios";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";

export default {
  name: "Cart",
  components: {
    LoginComponent,
    RegisterComponent,
    MembershipsComponent
  },
  data() {
    return {
      registerEndPoint: "/register",
      firstname: "",
      lastname: "",
      name: "",
      email: "",
      password: "",
      c_password: "",
      role: null,
      business: "",
      rnc: "",
      business_phone: "",
      urbanization: "",
      phone: "",
      address: "",
      hide: false,
      errors: {
        pass: {
          required: false,
          strength: false,
          validation: false,
        },
      },
      formValid: true,
      activeMembership: 1,
      loading: false,
      loader: false
    };    
  },
  methods: {
    membershipSelected(id) {
      alert(id);
    },
    submitForm() {
      var vm = this;
      var data = new FormData();

      let membership = 'personal';
      if(vm.activeMembership == 1) {
        membership = 'Personal'
      } else if (vm.activeMembership == 2) {
        membership = 'Empresarial'
      } else if (vm.activeMembership == 3) {
        membership = 'Club de compras'
      }

      data.append("name", vm.name);
      data.append("email", vm.email);
      data.append("password", vm.password);
      data.append("c_password", vm.c_password);
      data.append("first_name", vm.firstname);
      data.append("last_name", vm.lastname);
      data.append("business", vm.business);
      data.append("rnc", vm.rnc);
      data.append("business_phone", vm.business_phone);
      data.append("urbanization", vm.urbanization);
      data.append("phone", vm.phone);
      data.append("membershipID", membership);
      data.append("role", 'supplier');
      data.append("address", vm.address);
      
      data.append("status", "active");

      axios
        .post(vm.$store.getters.baseurl + vm.registerEndPoint, data)
        .then(function(response) {
          console.log(response);
          Toastify({
            text: "Te has registrado exitosamente.",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#29c44f",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
          vm.hide = true;
        })
        .catch(function(error) {
          console.log(error);
          Toastify({
            text: "Error creando la cuenta, revisa los datos.",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#E01028",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
        });
    },
    validatePasswordStrength(str) {
      if (str.length > 7) {
        return true;
      } else {
        return false;
      }
    },
    validateForm() {
      if (
        this.errors.pass.required ||
        this.errors.pass.strength ||
        this.errors.pass.validation
      ) {
        this.formValid = false;
      } else {
        this.formValid = true;
      }
    }
  },
  watch: {
    firstname: function(val) {
      this.name = val + " " + this.lastname;
    },
    lastname: function(val) {
      this.name = this.firstname + " " + val;
    },
    password: function(val) {
      if (val == "") {
        this.errors.pass.required = true;
      } else {
        this.errors.pass.required = false;
      }
      var result = this.validatePasswordStrength(val);
      if (result) {
        this.errors.pass.strength = false;
      } else {
        this.errors.pass.strength = true;
      }
      this.validateForm();
    },
    c_password: function(val) {
      if (this.password == val) {
        this.errors.pass.validation = false;
      } else {
        this.errors.pass.validation = true;
      }
      this.validateForm();
    }
  }
};
</script>
