<template>
  <div class="home">
    <div class="section header-page bg-patter actions">
      <div class="container text-left">
        <div>
          <h1>Club de compras</h1>        
        <router-link tag="button" to="/registro/suplidor" class="btn btn-primary action" v-if="!getLoggedStatus()">REGISTRARME</router-link>
        </div>
      </div>
    </div>

    <div class="loader-user noalphaloader" v-if="loaderUser">
      <img src="../assets/images/loader.gif" alt />
    </div>

    <div class="section description-content py-5" v-if="!getLoggedStatus()">
      <h4 class="text-left text-center">
        Bienvenido a el club de compras, para acceder a la tienda es necesario contar con una membresía activa.<br><br>
        Puedes <router-link tag="a" to="/registro/suplidor" class="primary-link">registrarte aquí</router-link> o si tienes una cuenta
        <router-link tag="a" to="/entrar" class="primary-link">inicia sesión aquí</router-link>
        
      </h4>      
    </div>

    <div class="section shop-content" v-if="getLoggedStatus()">
      <div class="row">
        <div class="col-12 col-xs-3 col-md-3 col-lg-2 py-3 px-0 sidebar pt-5">
          <div class="searchform">
            <input type="text" placeholder="Buscar" v-model="search" />
            <button>
              <i class="fas fa-search"></i>
            </button>
          </div>

          <h4 class="text-left pl-5">Categorías</h4>
          <ul class="categories">
            <li
              @click="filterCategory = 'all'"
              v-bind:class="((filterCategory == 'all') ? 'active' : '')"
            >
              <i class="fas fa-angle-double-right"></i> Todas las categorías
            </li>
            <li
              v-for="cat in categoriesList"
              :key="cat.id"
              @click="filterCategory = cat.id"
              v-bind:class="((filterCategory == cat.id) ? 'active' : '')"
            >
              <i class="fas fa-angle-double-right"></i>
              {{cat.name}}
            </li>
          </ul>
        </div>

        <div class="col-12 col-xs-9 col-md-9 col-lg-10 pl-5 content-shop">
          <div class="navbar pt-5">
            <div
              class="results-info"
            >MOSTRANDO {{paginationInfo.start}}-{{paginationInfo.end}} DE {{paginationInfo.total}} RESULTADOS</div>
          </div>

          <div class="products pr-4">
            <div class="loader" v-if="loading">
              <img src="../assets/images/loader.gif" alt />
            </div>

            <div
              class="p-5 py-8 text-center bg-patter"
              v-if="paginationInfo.total == 0"
            >No hay resultados {{getNotResults()}}</div>

            <transition-group name="list" tag="div" class="row" style="width:100%">
              <div
                class="product-item col-6 col-xs-6 col-md-4 col-lg-3"
                v-for="product in getProducts()"
                :key="product.id"
              >
                <div class="image">
                  <a href="#!">
                    <img :src="getThumbnail(product.featureImageURL)" alt />
                  </a>
                  <a href="#!" class="btn-add-to-cart" @click="addToCart(product)">
                    <i class="fas fa-cart-plus mr-2"></i> Agregar al carrito
                  </a>
                  <div
                    class="loading-add-to-cart"
                    v-if="loadingAddToCart && addToCartID == product.id"
                  >
                    <div>
                      <img src="../assets/images/loader.gif" alt />
                      Agregando al carrito
                    </div>
                  </div>
                </div>
                <div class="content">
                  <a href="#!">
                    <span class="category" v-text="getCategories(product.category)"></span>
                    <span class="price">RD${{ parseFloat(product.price) | toCurrency }}</span>
                    <h4>{{ product.name | truncate(36, '...') }}</h4>
                  </a>
                </div>
              </div>
            </transition-group>
          </div>
        </div>
      </div>
    </div>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
import axios from "axios";
import Vue from "vue";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";

var filter = function (text, length, clamp) {
  return text.length > length ? text.slice(0, length) + clamp : text;
};

Vue.filter("truncate", filter);

export default {
  name: "Home",
  components: {
    LoginComponent,
    RegisterComponent,
  },
  props: ["catId"],
  data() {
    return {
      endpoint: "/queryProducts",
      products: [],
      loading: false,
      loaderUser: true,
      loadingAddToCart: false,
      addToCartID: false,
      categoriesList: [],
      filterCategory: "all",
      search: "",
      paginationInfo: {
        start: 1,
        end: 12,
        total: 15,
      },
    };
  },
  methods: {
    loadData() {
      var vm = this;
      vm.loading = true;
      axios
        .get(vm.$store.getters.baseurl + vm.endpoint, {})
        .then(function (response) {
          console.log(response);
          vm.products = response.data;
          vm.loading = false;
        })
        .catch(function (error) {
          console.log(error);
          vm.loading = false;
        });
    },
    loadCategories() {
      var vm = this;
      axios
        .get(vm.$store.getters.baseurl + "/queryCategories?type=supplier", {})
        .then(function (response) {
          console.log(response);
          vm.categoriesList = response.data;
          vm.loadData();
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getThumbnail(id) {
      return this.$store.getters.baseurl + "/image/" + id + "/medium";
    },
    getCategories(ids, isJson = true) {
      var vm = this;
      var cats = [];
      if (isJson) {
        cats = JSON.parse(ids);
      } else {
        cats = ids;
      }
      var catsNames = [];
      try {
        cats.forEach((id) => {
        Object.keys(vm.categoriesList).forEach(function (key) {
          var catObj = vm.categoriesList[key];
          if (id == catObj.id) {
            catsNames.push(catObj.name);
          }
        });
      });
      } catch(err) {
        //err
      }
      return catsNames.join(",");
    },
    getProducts() {
      var products = [];
      var vm = this;
      if (vm.filterCategory == "all") {
        if (vm.search.trim() == "") {
          products = vm.products;
        } else {
          vm.products.forEach((product) => {
            if (
              product.name.toLowerCase().indexOf(vm.search.toLowerCase()) != -1
            ) {
              products.push(product);
            }
          });
        }
      } else {
        vm.products.forEach((product) => {
          var cats = JSON.parse(product.category);
          if(cats) {
            if (cats.indexOf(vm.filterCategory) != -1) {
              products.push(product);
            }   
          }
        });
      }
      if (!products) {
        products = [];
      }
      var total = products.length;
      vm.paginationInfo.total = total;
      if (total < 12) {
        vm.paginationInfo.start = total > 0 ? 1 : 0;

        vm.paginationInfo.end = total;
      }

      return products;
    },
    getNotResults() {
      if (this.filterCategory == "all") {
        if (this.search == "") {
          return ".";
        } else {
          return "para la busqueda de " + this.search + ".";
        }
      } else {
        return (
          "para la categoría " +
          this.getCategories([this.filterCategory], false) +
          "."
        );
      }
    },
    addToCart(product) {
      var vm = this;
      vm.loadingAddToCart = true;
      vm.addToCartID = product.id;
      console.log(product);
      vm.$store.commit("addToCart", product);
      console.log(this.$store.getters.cart);
      setTimeout(() => {
        vm.loadingAddToCart = false;

        Toastify({
          text:
            '<i class="fas fa-shopping-cart pr-2"></i> Producto agregado al carrito! Click aqui para ver tu carrito.',
          duration: 3000,
          gravity: "bottom", // `top` or `bottom`
          position: "center", // `left`, `center` or `right`
          backgroundColor: "#29c44f",
          destination: "/carrito",
          newWindow: false,
          stopOnFocus: true, // Prevents dismissing of toast on hover
          click: function () {
            vm.$router.push({ name: "Cart" });
          },
        }).showToast();
      }, 500);
    },
    getLoggedStatus() {
      if (!this.$cookie.get("token") || this.$cookie.get("token") == null) {
        return false;
      }
      return true;
    },
  },
  mounted() {
    this.loadCategories();
    if (this.catId != undefined) {
      this.filterCategory = this.catId;
    }
    window.scrollTo(0, 0);
    if (!this.getLoggedStatus()) {
      //this.$router.push({ name: "Login" });
    }
    this.loaderUser = false;
  },
  watch: {
    search: function () {
      this.filterCategory = "all";
    },
  },
};
</script>