<template>
  <div class="home">
    <transition name="fade">
      <div class="loader noalphaloader" v-if="loading">
        <img src="../assets/images/loader.gif" alt />
      </div>   
    </transition>

    <div class="section header-profile">
      <img :src="getBanner()" class="banner-image" alt="Banner" v-if="supplierInfo.business_banner != null">
      <div class="content" :class="(supplierInfo.business_banner == null) ? 'not-gradient' : ''">
        <img :src="getLogo()" alt="" class="logo-image" v-if="supplierInfo.business_logo != null">
        <div class="logo-text" v-if="supplierInfo.business_logo == null" v-text="supplierInfo.business.charAt(0)">          
        </div>
        <h4 v-text="supplierInfo.business"></h4>
      </div>
    </div>

    <div class="section navigation-supplier">
      <ul>
        <li @click="tabsSuppliers('products')" :class='(tab == "products") ? "active" : ""'>
          <i class="fas fa-store-alt mr-2"></i> Productos
        </li>
        <li @click="tabsSuppliers('info')" :class='(tab == "info") ? "active" : ""'>
          <i class="fas fa-info-circle mr-2"></i> Información
          </li>
        <li @click="tabsSuppliers('contact')" :class='(tab == "contact") ? "active" : ""'>
          <i class="fas fa-id-card mr-2"></i> Contacto
          </li>
      </ul>
    </div>
    <transition name="slide-fade">
      <div class="section products-nav-content pt-2 pb-5" style="position: relative" v-if='tab == "products"'>
        <div class="container">
          <h2 class="text-left">Productos</h2>
          <div class="pt-2 text-left mb-4">
            <div class="results-info">MOSTRANDO {{paginationInfo.start}}-{{paginationInfo.end}} DE {{paginationInfo.total}} RESULTADOS</div>
          </div>

          <div class="products pr-4">
            <div class="loader" v-if="loadingProducts">
              <img src="../assets/images/loader.gif" alt />
            </div>    

            <div class="p-5 py-8 text-center bg-patter" v-if="paginationInfo.total == 0">
              No hay resultados {{getNotResults()}}
            </div>

              <transition-group name="list" tag="div" class="row" style="width:100%"> 
              <div
                class="product-item col-6 col-xs-6 col-md-4 col-lg-3"
                v-for="product in getProducts()"
                :key="product.id"
              >              
                <div class="image">
                  <a href="#!">
                    <img :src="getThumbnail(product.featureImageURL)" alt />
                  </a>
                  <a href="#!" class="btn-add-to-cart" @click="addToCart(product)">
                    <i class="fas fa-cart-plus mr-2"></i> Agregar al carrito
                  </a>
                  <div class="loading-add-to-cart" v-if="loadingAddToCart && addToCartID == product.id">
                     <div>
                       <img src="../assets/images/loader.gif" alt />
                    Agregando al carrito
                     </div>
                  </div>
                </div>
                <div class="content">
                  <a href="#!">
                    <span class="category" v-text="getCategories(product.category)"></span>
                    <span class="price" v-text="'$'+product.price"></span>
                    <h4>{{ product.name | truncate(36, '...') }}</h4>                    
                  </a>
                </div>
                
              </div>              
              </transition-group>            
            
          </div>
        </div>
      </div>
    </transition>

    <transition name="slide-fade">
      <div class="section info-nav-content pt-2 pb-5" v-if='tab == "info"'>
        <div class="container">
          <h2 class="text-left">Información de {{supplierInfo.business}}</h2>

          <div class="details">

            <ul>
              <li>
                <strong>Nombre comercial: </strong> {{supplierInfo.business}}<br>
              </li>
              <li>
                <strong>Télefono: </strong> {{supplierInfo.phone}}<br>
              </li>
              <li>
                <strong>Corre Eléctronico: </strong> {{supplierInfo.email}}<br>
              </li>
            </ul>

          </div>

        </div>
      </div>
    </transition>

      <transition name="slide-fade">
      <div class="section contact-nav-content pt-2 pb-5" v-if='tab == "contact"'>
        <div class="container">
          <h2 class="text-left">Contacta a {{supplierInfo.business}}</h2>
        </div>
      </div>
      </transition>

    <LoginComponent></LoginComponent>
    <RegisterComponent></RegisterComponent>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginComponent from "@/components/LoginComponent.vue";
import RegisterComponent from "@/components/RegisterComponent.vue";
import axios from "axios";/*
import Vue from "vue";*/
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";


export default {
  name: "SingleSupplier",
  components: {
    LoginComponent,
    RegisterComponent
  },
  props: ['id'],
  data() {
    return {
      supplierInfo: {
        business_logo: null,
        business_banner: null,
        business: "N"
      },
      loading: true,
      loadingProducts: true,
      loadingAddToCart: false,
      categoriesList: [],
      products: [],
      paginationInfo: {
        start: 1,
        end: 12,
        total: 15
      },
      tab: 'products'
    };
  },
  methods: {
    tabsSuppliers(tab) {
      this.tab = tab;
      if(tab == 'products') {
        this.loadProducts();
      }
    },
    getBanner() {
      return this.$store.getters.baseurl + "/image/" + this.supplierInfo.business_banner + '/banner';
    },
    getLogo() {
      return this.$store.getters.baseurl + "/image/" + this.supplierInfo.business_logo + '/logocrop' ;
    },
    loadCategories() {
      var vm = this;
       axios
      .get(vm.$store.getters.baseurl + "/queryCategories?type=supplier", {})
      .then(function(response) {
        console.log(response);
        vm.categoriesList = response.data;
        vm.loadData();
      })
      .catch(function(error) {
        console.log(error);
      });
    },
    loadInfo() {
       var vm = this;      
      axios
        .get(vm.$store.getters.baseurl + '/supplier/' + this.id, {})
        .then(function(response) {
          console.log(response);
          vm.supplierInfo = response.data;
          setTimeout(() =>  {
            vm.loading = false;
          },300);
        })
        .catch(function(error) {
          console.log(error);
          vm.loading = false;
        });
    },
    loadProducts() {           
      var vm = this;
      vm.loadingProducts = true;
       axios.defaults.headers.common["X-Requested-With"] = "XMLHttpRequest";
      axios.defaults.headers.common["Content-Type"] = "application/json";
      axios.defaults.headers.common["Authorization"] =
      "Bearer " + vm.$store.getters.tokenAccess;
      axios
      .get(vm.$store.getters.baseurl + '/getProducts?uid=' + vm.id, {})
      .then(function(response) {
        console.log(response);
        vm.products = response.data;
        vm.loadingProducts = false;
      })
      .catch(function(error) {
        console.log(error);
        vm.loadingProducts = false;

        vm.$store.commit("setAuthStatusRequest", false);
      });    
    },
    getProducts() {
      var products = [];
      var vm = this;  
      products = vm.products;
      var total = products.length;
      vm.paginationInfo.total = total;
      if(total < 12) {
        vm.paginationInfo.start = (total > 0) ? 1 : 0;
        
        vm.paginationInfo.end = total;
      }     

      return products;
    },
    getNotResults() {
      return '.';
    },
    getThumbnail(id) {
      return this.$store.getters.baseurl + "/image/" + id + '/medium';
    },
    getCategories(ids, isJson = true) {
      var vm = this;
      var cats = [];
      if(isJson) {
        cats = JSON.parse(ids);
      } else {
        cats = ids;
      }
      var catsNames = [];
      if(cats) {
        cats.forEach(id => {
        Object.keys(vm.categoriesList).forEach(function(key) {
          var catObj = vm.categoriesList[key];
          if(id == catObj.id) {
            catsNames.push(catObj.name);
          }
        });
      });
      }
      return catsNames.join(",");
    },
    addToCart(product) {      
      var vm = this;
      vm.loadingAddToCart = true;
      vm.addToCartID = product.id;
      vm.$store.commit("addToCart", product);
      console.log(this.$store.getters.cart);
      setTimeout(() => {
        vm.loadingAddToCart = false;

        Toastify({
            text: '<i class="fas fa-shopping-cart pr-2"></i> Producto agregado al carrito!',
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            backgroundColor: "#29c44f",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
      }, 500);
    }
  },
  mounted() {    
    this.loadCategories();
    this.loadInfo();
    this.loadProducts();
    console.log(this.$store.getters);
    window.scrollTo(0, 0);
  },
  watch: {
    
  }
};
</script>
