<template>
  <div
    class="popover-header cart-menu-popover"
    :class="($store.getters.cartPopover) ? 'active' : ''"
    @click.stop
  >
    <div class="info">
      <h4>Mi Carrito</h4>
      <ul>
        <li class="pl-2" v-for="product in $store.getters.cart" :key="product.id">
          <div class="image">
            <img :src="'https://backend.construnetwork.com.do/api/image/' + product.feature" alt />
          </div>
          <div class="content">
            <h5 v-text="product.name"></h5>
            <span>RD${{parseFloat(product.price)|toCurrency}}</span>
            <span class="quantity">
              Cantidad:
              <strong>{{product.quantity}}</strong>
            </span>
            <i class="fas fa-times"></i>
          </div>
        </li>
      </ul>

      <router-link class="btn btn-primary mb-3 mr-3" tag="a" to="/carrito">
        <i class="fas fa-shopping-cart mr-2"></i>VER CARRITO
      </router-link>
      <router-link class="btn btn-secondary mb-3" tag="a" to="/pago">
        <i class="fas fa-money-bill-wave mr-2"></i>IR A PAGAR
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserMenuComponent",
  data() {
    return {};
  },
  methods: {
    openDashboard() {
      location.href = "https://dashboard.construnetwork.com.do/";
    },
  },
};
</script>


