<template>
  <div
    class="login popup-overlay"
    :class="($store.getters.loginPopup) ? 'show' : ''"
    @click="close()"
  >
    <div class="popup relative" @click.stop>
      <h2 class="my-4 text-center">Ingresar a Construnetwork</h2>
      <form action class="form mb-4 px-5 text-left" @submit.prevent="submitForm()">
        <div class="form-group">
          <label for>
            Correo eléctronico
            <span>*</span>
          </label>
          <input type="email" placeholder v-model="email" required />
        </div>
        <div class="form-group">
          <label for>
            Contraseña
            <span>*</span>
          </label>
          <input type="password" placeholder v-model="password" required />
        </div>
        <div class="form-group text-center py-4">
          <button class="btn btn-primary">
            <i class="fas fa-user-check mr-2"></i> ENTRAR
          </button>
       
        </div>
      </form>
      <div class="loader" v-if="loader">
        <img src="../assets/images/loader.gif" alt />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";

export default {
  name: "LoginComponent",
  data() {
    return {
      endpoint: "/login",
      email: "",
      password: "",
      loader: false
    };
  },
  methods: {
    close() {
      this.$store.commit("changeLoginPopup", false);
    },
    openRegister() {
      this.close();
      this.$store.commit("changeRegisterPopup", true);
    },
    submitForm() {
      var vm = this;
      vm.loader = true;
      var data = new FormData();
      data.append("email", vm.email);
      data.append("password", vm.password);

      axios
        .post(vm.$store.getters.baseurl + vm.endpoint, data)
        .then(function(response) {
          console.log(response);
          Toastify({
            text: "Bienvenido a Construnetwork " + response.data.data.name,
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#29c44f",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
          vm.hide = true;
          vm.$cookie.set("name", response.data.data.name, 1);
          vm.$cookie.set("role", response.data.data.role, 1);
          vm.$cookie.set("token", response.data.data.token, 1);
          vm.$cookie.set("uid", response.data.data.id, 1);
          vm.$cookie.set("logo", response.data.data.logo, 1);
          vm.$store.commit("setUser", response.data.data.name);
          vm.$store.commit("setRole", response.data.data.role);
          vm.$store.commit("setId", response.data.data.id);
          vm.$store.commit("setToken", response.data.data.token);
          vm.$store.commit("setLogo", response.data.data.logo);

          if (vm.$store.getters.environment == 1) {
             var data = new FormData();
            data.append("name", response.data.data.name);
            data.append("role", response.data.data.role);
            data.append("token", response.data.data.token);
            data.append("uid", response.data.data.id);

            var dataBase64 = {
              name: response.data.data.name,
              role: response.data.data.role,
              token: response.data.data.token,
              uid: response.data.data.id,
              business: response.data.data.business
            };

            var encoded = JSON.stringify(dataBase64);
            console.log(encoded);
            window.location = "https://dashboard.construnetwork.com.do?logged="+btoa(encoded);
          } else {
            window.location = "http://localhost:8080";
          }
        })
        .catch(function(error) {
          console.log(error);
          Toastify({
            text: "Credenciales invalidas",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#E01028",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
          vm.loader = false;
        });
    }
  }
};
</script>


