<template>
  <div
    class="login popup-overlay"
    :class="($store.getters.registerPopup) ? 'show' : ''"
    @click="close()"
  >
    <div class="popup overflowx-hidden" @click.stop>
      <h2 class="my-4 text-center">Registro Construnetwork</h2>

      <div class="row pt-2 pb-5 p-4" v-if="role == null">
        <div class="col-6">
          <button class="btn btn-primary block py-3" @click="role = 'client'">
            <i class="fas fa-users mr-2"></i>
            CLIENTE
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary block py-3" @click="role = 'supplier'">
            <i class="fas fa-user-tie mr-2"></i>
            SUPLIDOR
          </button>
        </div>
      </div>

      <form
        action
        class="form mb-4 px-5 text-left"
        @submit.prevent="submitForm()"
        v-if="role!=null && !hide"
      >
        <div class="form-group">
          <label for>
            Tipo de usuario
            <span>*</span>
          </label>
          <select name v-model="role" id>
            <option value="client">Cliente</option>
            <option value="supplier">Suplidor</option>
          </select>
        </div>
        <div class="form-group col6 pr-2">
          <label for>
            Nombres
            <span>*</span>
          </label>
          <input type="text" placeholder v-model="firstname" required />
        </div>
        <div class="form-group col6 pl-2">
          <label for>
            Apellidos
            <span>*</span>
          </label>
          <input type="text" placeholder v-model="lastname" required />
        </div>
        <div class="form-group col6 pr-2">
          <label for>
            Correo eléctronico
            <span>*</span>
          </label>
          <input type="email" placeholder v-model="email" required />
        </div>
         <div class="form-group col6 pl-2">
          <label for>
            Teléfono
            <span>*</span>
          </label>
          <input type="text" placeholder v-model="phone" />
        </div>
        <div class="form-group col6 pr-2" v-if="role=='supplier'">
          <label for>
            Empresa
            <span>*</span>
          </label>
          <input type="text" placeholder v-model="business" />
        </div>
        <div class="form-group col6 pl-2" v-if="role=='supplier'">
          <label for>
            R.N.C
            <span>*</span>
          </label>
          <input type="text" placeholder v-model="rnc" />
        </div>
        <div class="form-group" v-if="role=='supplier'">
          <label for>
            Teléfono de oficina
            <span>*</span>
          </label>
          <input type="text" placeholder v-model="business_phone" />
        </div>
        <div class="form-group">
          <label for>
            Dirección
            <span>*</span>
          </label>
          <input type="text" placeholder v-model="address" required />
        </div>
        <div class="form-group">
          <label for>
            Urbanización
            <span>*</span>
          </label>
          <input type="text" placeholder v-model="urbanization" required />
        </div>
        <div
          class="form-group"
          :class="(errors.pass.required || errors.pass.strength) ? 'error-field' : ''"
        >
          <label for>
            Contraseña
            <span>*</span>
          </label>
          <input type="password" placeholder v-model="password" />
          <p v-id="errors.pass.required || errors.pass.strength" class="errors-span">
            <span v-if="errors.pass.required" style="display: block">Contraseña requerida</span>
            <span v-if="errors.pass.strength" style="display: block">Minimo 8 caracteres</span>
          </p>
        </div>
        <div class="form-group" :class="(errors.pass.validation) ? 'error-field' : ''">
          <label for>
            Confirmar Contraseña
            <span>*</span>
          </label>
          <input type="password" placeholder v-model="c_password" />
          <p v-id="errors.pass.validation" class="errors-span">
            <span v-if="errors.pass.validation" style="display: block">Contraseñas no conciden</span>
          </p>
        </div>
        <div class="form-group text-center py-4">
          <button class="btn btn-primary">
            <i class="fas fa-user-plus mr-2"></i> REGISTRARME
          </button>
          <button class="btn btn-secondary ml-4" @click.prevent="openLogin()">
            <i class="fas fa-user-check mr-2"></i> ENTRAR
          </button>
        </div>
      </form>

      <div class="success-register py-4" v-if="hide">
        <p>
          Tu cuenta se creo con éxito,
          <br />ya puedes
          <a href="#!" @click.prevent="openLogin()">ingresar a Construnetwork</a>.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Toastify from "toastify-js";
import "toastify-js/src/toastify.css";

export default {
  name: "RegisterComponent",
  props: {},
  data() {
    return {
      registerEndPoint: "/register",
      firstname: "",
      lastname: "",
      name: "",
      email: "",
      password: "",
      c_password: "",
      role: null,
      business: "",
      rnc: '',
      business_phone: '',
      urbanization: '',
      phone: "",
      address: "",
      hide: false,
      errors: {
        pass: {
          required: false,
          strength: false,
          validation: false
        }
      },
      formValid: true
      // Other data
    };
  },
  methods: {
    close() {
      this.$store.commit("changeRegisterPopup", false);
      this.role = null;
    },
    openLogin() {
      this.close();
      this.$store.commit("changeLoginPopup", true);
      this.role = null;
      this.hide = false;
    },
    submitForm() {
      var vm = this;
      var data = new FormData();
      data.append("name", vm.name);
      data.append("email", vm.email);
      data.append("password", vm.password);
      data.append("c_password", vm.c_password);
      data.append("first_name", vm.firstname);
      data.append("last_name", vm.lastname);
      data.append("business", vm.business);
      data.append("rnc", vm.rnc);
      data.append("business_phone", vm.business_phone);
      data.append("urbanization", vm.urbanization);
      data.append("phone", vm.phone);
      data.append("membershipID", 0);
      data.append("role", vm.role);
      data.append("address", vm.address);
      
      data.append("status", "active");

      axios
        .post(vm.$store.getters.baseurl + vm.registerEndPoint, data)
        .then(function(response) {
          console.log(response);
          Toastify({
            text: "Te has registrado exitosamente.",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#29c44f",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
          vm.hide = true;
        })
        .catch(function(error) {
          console.log(error);
          Toastify({
            text: "Error creando la cuenta, revisa los datos.",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            backgroundColor: "#E01028",
            stopOnFocus: true // Prevents dismissing of toast on hover
          }).showToast();
        });
    },
    validatePasswordStrength(str) {
      if (str.length > 7) {
        return true;
      } else {
        return false;
      }
    },
    validateForm() {
      if (
        this.errors.pass.required ||
        this.errors.pass.strength ||
        this.errors.pass.validation
      ) {
        this.formValid = false;
      } else {
        this.formValid = true;
      }
    }
  },
  watch: {
    firstname: function(val) {
      this.name = val + " " + this.lastname;
    },
    lastname: function(val) {
      this.name = this.firstname + " " + val;
    },
    password: function(val) {
      if (val == "") {
        this.errors.pass.required = true;
      } else {
        this.errors.pass.required = false;
      }
      var result = this.validatePasswordStrength(val);
      if (result) {
        this.errors.pass.strength = false;
      } else {
        this.errors.pass.strength = true;
      }
      this.validateForm();
    },
    c_password: function(val) {
      if (this.password == val) {
        this.errors.pass.validation = false;
      } else {
        this.errors.pass.validation = true;
      }
      this.validateForm();
    }
  }
};
</script>
