<template>
  <div
    class="popover-header user-menu-popover"
    :class="($store.getters.userPopover) ? 'active' : ''"
    @click.stop
  >
    <div class="logo">
      <img :src="getUserLogo()" alt />
    </div>
    <div class="info">
      <h4 v-text="$cookie.get('name')"></h4>
      <ul>
        <li>
          <i class="fas fa-tachometer-alt mr-3"></i>
          <span @click="openDashboard()">Panel de Control</span>
        </li>
        <li>
          <i class="fas fa-user-circle mr-3"></i>
          <span>Mi Cuenta</span>
        </li>
        <li>
          <i class="fas fa-briefcase mr-3"></i>
          <span>Mi Empresa</span>
        </li>
        <li @click="logout()">
          <i class="fas fa-sign-out-alt mr-3"></i>
          <span>Cerrar Sesión</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserMenuComponent",
  data() {
    return {};
  },
  methods: {
    logout() {
      this.$cookie.delete("name");
      this.$cookie.delete("token");
      this.$cookie.delete("uid");
      this.$cookie.delete("role");
      this.$cookie.delete("logo");
      this.$store.commit("setUser", "");
      this.$store.commit("setRole", "");
      this.$store.commit("setId", null);
      this.$store.commit("setToken", null);
      this.$store.commit("setLogo", null);
      location.href = "https://dashboard.construnetwork.com.do/logout";
    },
    getUserLogo() {
      if (
        this.$cookie.get("logo") != null &&
        this.$cookie.get("logo") != "null"
      ) {
        return (
          this.$store.getters.baseurl + "/image/" + this.$cookie.get("logo")
        );
      } else {
        return "https://elteachermurcia.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png";
      }
    },
    openDashboard() {
      location.href = "https://dashboard.construnetwork.com.do/";
    }
  }
};
</script>


