<template>
  <div class="section">
      <h4 class="mt-5">Elige el tipo de membresía que necesitas</h4>
    <div class="container text-left">
      <div class="row">
        <div
          class="cols-12 col-md-4 col-lg-4 pl-0 pr-3"
          v-for="(membership) in memberships"
          :key="membership.id"          
        >
          <div class="membreship-box" style="min-height: 642px">
            <h4>{{membership.name}}</h4>
            <div class="price">
              <h2>{{membership.price}}</h2>
              <sup>$</sup>
              <span>AL MES</span>
              <div class="clearfix"></div>
            </div>
            <ul>
              <li v-for="feature in getFeatures(membership.data)" :key="feature.key">
                <i class="fas fa-check"></i>
                <span>{{feature.label}}</span>
              </li>             
            </ul>
            <div class="action text-center mt-5">
              <a href="#!" class="btn btn-primary" @click="selectMembership(membership.id)">Elegir</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "MembershipsComponent",
  props: ['OnSelectMembership'],
  data() {
    return {
      memberships: [],
    };
  },
  methods: {
    getMemberships() {
      var vm = this;
      axios
        .get(vm.$store.getters.baseurl + "/queryMemberships", {})
        .then(function (response) {          
          vm.memberships = response.data;          
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getFeatures(data) {
        let returnData = [];
        try {
            const tmp = JSON.parse(data);            
            tmp.forEach(item => {
                console.log(item);
                if(item.status == true) {
                    returnData.push(item);
                }
            });
        } catch(err) {
            //err
            returnData = [];
        }

        return returnData;
    },
    selectMembership(id) {
        this.OnSelectMembership(id);
    }  
  },
  mounted() {
      this.getMemberships();
  }
};
</script>


