$base-color: #E01028;
$secondary-color: rgb(0, 35, 90);
.btn {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0;
    font-family: inherit;
    line-height: 2em;
    letter-spacing: .02em;
    outline: 0;  
    box-sizing: border-box;
    transition: 0.5s all;
    padding: 7px 38px;
    cursor: pointer;
    &.btn-primary {
        color: #fff;
        background-color: $base-color;
        border: 1px solid transparent;
        border-radius: 2px;
        &:hover {
            color: white !important;
            box-shadow: 0px 10px 32px -5px $base-color;
        }
    }
    &.btn-secondary {
        color: #fff;        
        border: 1px solid transparent;
        border-radius: 2px;
        background-color: $secondary-color;
        font-weight: 400;
        box-shadow: none;
        &:hover {
            box-shadow: 0px 10px 32px -5px $secondary-color;
            color: white !important;
        }
    }
    &.block {
        display: block;
        width: 100%;
    }
}
