$base-color: #E01028;
.form {
    .form-group {
        &.col6 {
            display: inline-block;
            width: 50%;
        }
        &.pl-2 {
            padding-left: 10px;
        }
        &.pr-2 {
            padding-right: 10px;
        }
        label {
            margin-top: 29px;
            margin-bottom: 11px;
            color: #565969;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: .1em;
            text-transform: uppercase;
            span {
                color: $base-color;
            }            
        }           
        .thumbUpload {
            display: block;
            margin: 10px 0;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            display: block;
        }             
        input[type=file] {   
            display: none;                     
            &+caption {
                display: flex;
                height: 50px;
                border: 0px;            
                border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                width: 100%;
                padding: 5px 15px;
                line-height: 50px;
                position: relative;
                align-items: center;
                transition: all 0.3s;
                span {
                    position: relative;
                    z-index: 2;
                }
                .progress-upload {
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    background-color: rgba(63, 213, 63, 0.3);
                    top: 0;
                    left: 0;
                    z-index: 1;
                    transition: all 0.5s;
                }
                cursor: pointer;
                &:hover {
                    border-bottom: 2px solid $base-color;
                    background-color: rgba(0, 0, 0, 0.03);
                }
            }
        }
        input[type=text], textarea,input[type=email], input[type=password], select {
            display: block;
            height: 50px;
            border: 0px;            
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            width: 100%;
            padding: 5px 15px;
            transition: all 0.3s;
            &:focus {
                border-bottom: 2px solid $base-color;
                background-color: rgba(0, 0, 0, 0.03);
            }
        }
        textarea {
            height: 150px;
        }
        &.error-field {
            label {
                color: #E01028;
            }
            input {
                border: 2px solid #E01028;
            }
            .errors-span {
                padding-top: 5px;
                color: #E01028;
            }
        }    
    }
}