@media screen and(max-width: 1200px) {
  header {
    .logo {
      width: 250px;
      img {
        width: 150px;
      }
    }
  }
  .form-boletin {
    position: relative;
    margin: auto;
    margin-top: 50px;
  }
}

@media screen and(max-width: 1024px) {
  .header-page {
    &.actions {
      h1 {
        margin-top: 150px;
        margin-bottom: -50px;
        font-size: 50px;
      }
      .action {
        position: relative;
        margin-left: 50px;
      }
    }
  }
}

@media screen and(max-width: 980px) {
  header {
    justify-content: space-between;
  }
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba($color: #fff, $alpha: 0.99);
    opacity: 0;
    right: -100%;
    z-index: 1010;
    pointer-events: none;
    transition: all 0.3s;
    .close-menu {
      display: initial !important;
    }
    ul {
      flex-direction: column;
      width: 80% !important;
      margin: auto !important;
      height: calc(100% - 130px) !important;
      li {
        border-left: none !important;
      }
    }
    img {
      display: block !important;
      height: 70px;
      margin: auto;
      margin-top: 30px;
    }
  }
  .menu-show {
    opacity: 1;
    right: 0;
    pointer-events: initial;
  }
  .buttons-header {
    width: auto !important;
    button.mobile-menu {
      display: inline-flex !important;
    }
  }
}

@media screen and(max-width: 680px) {
  .menu {
    img {
      width: 50%;
      height: auto;
    }
  }
  .section h1 {
    font-size: 42px;
  }
  .header-profile {
    .content {
      h4 {
        font-size: 25px;
      }
    }
  }

  .navigation-supplier {
    li {
      padding: 0px 5px !important;
      width: 33.33%;
      font-size: 14px !important;
    }
  }
}

@media screen and(max-width: 550px) {
  .buttons-header {
    width: 100% !important;
    display: flex;
    button.mobile-menu {
      display: inline-flex !important;
    }
    button {
      width: 33.33% !important;
      flex: 0 1 33.33%;
    }
  }

  .popover-header {
    width: 99% !important;
    right: 0 !important;
    margin: auto;
    left: 0;
  }
}

@media screen and(max-width: 500px) {
  .login.popup-overlay button {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px !important;
  }
}

@media screen and(max-width: 400px) {
  .navigation-supplier {
    ul {
      flex-direction: column;
      li {
        padding: 0px 5px !important;
        width: 100%;
        font-size: 14px !important;
      }
    }
  }

  .buttons-header {
    button {
      padding: 10px !important;
    }
  }

  header .logo img {
    width: 100px;
  }
}
