@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

$base-color: #e01028;
$secondary-color: rgb(0, 35, 90);

body {
  overflow-x: hidden;
}

#app {
  font-family: "Yantramanav", sans-serif;
  padding-top: 70px;
  overflow: hidden;
}

* {
  outline: none;
}

a {
  &:hover {
    color: $base-color !important;
  }
}

.primary-link {
  color: $base-color;
}

header {
  height: 70px;
  box-shadow: -1px 1px 10px 0 rgba(38, 59, 98, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-startw;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 10;
  transition: height 0.5s;
  &.scroll {
    height: 50px;
    button {
      height: 50px !important;
    }
  }
  .logo {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;    
    border-bottom: 5px solid $base-color;
    cursor: pointer;
    img {
      width: 180px;
    }
  }
  .menu {
    height: 100%;
    width: 100%;
    .close-menu {
      position: absolute;
      font-size: 30px;
      top: 30px;
      right: 40px;
      color: $secondary-color;
      cursor: pointer;
      display: none;
      &:hover {
        color: $base-color;
      }
    }
    img {
      display: nONE;
    }
    ul {
      height: 100%;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      li {
        height: 100%;
        padding: 0px 15px;
        width: 100%;
        text-align: center;
        border: 1px solid #e8e8e9;
        border-right: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        cursor: pointer;
        color: #001659;
        font-size: 18px;
        line-height: 23px;
        box-sizing: border-box;
        font-weight: 500;
        text-decoration: none;
        &:hover {
          background-color: #f8f7f7;
          color: $base-color !important;
          a {
            color: #e01028;
          }
        }
        a {
          color: #001659;
          font-size: 18px;
          line-height: 23px;
          box-sizing: border-box;
          font-weight: 500;
          text-decoration: none;
          transition: all 0.3s;
        }
      }
    }
  }
  .buttons-header {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: flex-end;
    .cart-menu {
      display: inline-flex !important;
      position: relative;
      sup {
        top: 11px;
        font-size: 12px;
        right: 10px;
        background-color: white;
        color: #e01028;
        width: 15px;
        height: 15px;
        position: absolute;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
    .user-menu {
      display: inline-flex !important;
    }

    button {
      line-height: 1;
      background-color: $base-color;
      color: #fff;
      border: 1px solid $base-color !important;
      box-sizing: border-box;
      vertical-align: middle;
      width: 70px;
      height: 70px;
      padding: 0 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: all 0.3s;
      position: relative;
      &.mobile-menu {
        display: none;
      }
      &:hover {
        background-color: $secondary-color;
        border: 1px solid $secondary-color !important;
      }
      &:focus {
        outline: none;
      }
    }
  }
  a.login {
    line-height: 1;
    background-color: $base-color;
    color: #fff;
    border: 1px solid $base-color !important;
    box-sizing: border-box;
    vertical-align: middle;
    height: 100%;
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      color: white !important;
    }
    &:active {
      background-color: white;
      color: $base-color !important;
    }
  }
}

.slick-home {
  width: 100%;
  .slick-slide {
    height: 651px;
    .slide-home-item {
      position: relative;
      .banner {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1920px;
        height: 70px;
      }
      .content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & > div {
          text-align: left;
          width: 80%;
          margin-top: 100px;
        }
        div {
          small {
            color: rgb(255, 255, 255);
            letter-spacing: 1px;
            font-family: Yantramanav;
            display: block;
          }
          .title {
            white-space: normal;
            font-size: 60px;
            line-height: 60px;
            font-weight: 900;
            color: rgb(255, 255, 255);
            letter-spacing: 0px;
            font-family: Yantramanav;
            text-transform: uppercase;
            margin-top: 10px;
            display: block;
          }
          p {
            white-space: normal;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            color: rgb(255, 255, 255);
            letter-spacing: 0px;
            font-family: Yantramanav;
            margin-top: 25px;
          }
        }
      }
    }
  }
}

.section {
  &.dark {
    background-color: #00235a;
    color: white;
    h1 {
      color: white;
    }
  }
  h1 {
    font-size: 80px;
    line-height: 1em;
    letter-spacing: -0.01em;
    font-weight: 800;
    margin: 25px 0;
    font-family: Yantramanav, sans-serif;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    color: #001659;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .suppliers {
    overflow: hidden;
    margin-bottom: 30px;
    .image {
      width: 100%;
      height: 150px;
      overflow: hidden;
      position: relative;
    }
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      transition: all 0.3s;
    }
    &:hover {
      .content {
        opacity: 1;
        pointer-events: all;
      }
      img {
        transform: scale(1.2);
      }
    }
    .content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 35, 90, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
      a {
        color: white;
        display: block;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        background-color: #e01028;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          background-color: white;
          color: #e01028 !important;
        }
      }
    }
  }
}

.item-gallery {
  .item-content {
    position: relative;
    height: 280px;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.5) translateX(10px);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.5) translateX(0px);
      transition: all 0.3s;
    }
    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.3s;
      &:hover {
        background-color: rgba(0, 35, 90, 0.85);
        opacity: 1;
      }
      small {
        position: absolute;
        bottom: 100px;
        left: 30px;
        font-size: 12px;
        line-height: 2.33em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 500;
      }
      h4 {
        position: absolute;
        bottom: 65px;
        left: 30px;
        line-height: 26px;
        font-size: 26px;
      }
    }
  }
}

.form-boletin {
  position: absolute;
  bottom: 16px;
  right: 0;
  width: 70%;
  display: flex;
  input {
    height: 50px;
    width: 100%;
    border: 0px;
    border-radius: 3px;
    padding: 0 15px;
  }
}

.footer-bottom {
  height: 75px;
  line-height: 75px;
  color: #9ca5af;
  a {
    color: #9ca5af;
    text-decoration: none;
  }
  .social {
    a {
      color: white;
      transition: all 0.3s;
    }
    .col-social {
      transition: all 0.3s;
      &:hover {
        background-color: $base-color;
        a {
          color: white;
        }
      }
      a {
        &:hover {
          color: white !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer-bottom {
    height: auto;
  }
}

.logo-footer img {
  width: 80%;
  height: auto;
}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  .popup {
    background-color: white;
    width: 100%;
    max-width: 700px;
    max-height: 85vh;
    overflow-y: auto;
    margin: 0px 15px;
  }
  &.show {
    opacity: 1;
    pointer-events: initial;
  }
}

.success-register {
  font-size: 22px;
}

.header-page {
  background: #f1f2f4;
  color: #001659;
  height: 200px;
  line-height: 200px;
  display: flex;
  align-items: center;
  position: relative;
  h1 {
    color: #001659;
    margin: 0;
  }
  .action {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.sidebar {
  .searchform {
    border-color: #e8e8e9;
    border-style: solid;
    border-width: 1px;
    position: relative;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    button {
      line-height: 50px;
      position: absolute;
      right: -1px;
      top: -1px;
      height: calc(100% + 2px);
      background: #f2f3f5;
      color: #001659;
      cursor: pointer;
      font-size: 14px;
      width: 50px;
      -webkit-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      border: 0;
      outline: 0;
    }
    input {
      line-height: 50px;
      padding: 0 5px 0 21px;
      width: calc(100% - 50px);
      background-color: transparent;
      border: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: inherit;
      display: inline-block;
      border-radius: 2px;
      float: left;
      font-family: Yantramanav, sans-serif;
      font-size: 16px;
      font-weight: inherit;
      height: 48px;
      line-height: calc(50px - 2px);
      outline: 0;
      position: relative;
      vertical-align: top;
      -webkit-appearance: none;
      -webkit-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
    }
  }
  h4 {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 28px;
  }
  .categories {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
    li {
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      display: block;
      line-height: 20px;
      margin: 0;
      padding: 2px 0;
      font-size: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      line-height: 26px;
      font-weight: 500;
      padding-left: 50px;
      transition: all 0.5s;
      position: relative;
      cursor: pointer;
      &.active {
        color: #e01028;
        font-weight: 900;
        padding-left: 70px;
        color: #e01028;
        i {
          opacity: 1;
        }
      }
      i {
        opacity: 0;
        position: absolute;
        left: 50px;
        top: 7px;
        transition: opacity 0.5s;
      }
      &:hover {
        padding-left: 70px;
        color: #e01028;
        i {
          opacity: 1;
        }
      }
    }
  }
}

.results-info {
  line-height: 50px;
  font-family: Yantramanav, sans-serif !important;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.product-item {
  margin-bottom: 40px;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    .image {
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0);
    }
  }
  .image {
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    
    &.logoimage {
      img {
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
      }
    }
    &.supplierlogo {
      img {
        object-fit: contain;
      }
    }
    a.btn-add-to-cart {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.3);
      text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white !important;
      letter-spacing: 0.01em;
      text-decoration: none;
      bottom: 0;
      transform: scale(0.9);
      cursor: pointer;
      font-size: 18px;
      text-align: center;
      transition: all 0.3s;
      i {
        font-size: 30px;
        margin-bottom: 10px;
      }
      
    }
    img {
      width: 80%;
      height: 230px;
      object-fit: contain;
      transition: all 0.3s;
    }
    .loading-add-to-cart {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.9);
      color: black;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #001659;
      font-weight: 600;
      font-size: 13px;
      text-transform: uppercase;
      img {
        width: 75px;
        height: 75px;
        display: block;
        margin: auto;
      }
    }
  }

  .content {
    text-align: left;
    margin-top: 20px;
    a {
      text-decoration: none;
    }
    .category {
      line-height: 2em;
      letter-spacing: 0.1em;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      transition: color 0.2s ease-out;
      color: #001659;
    }
    h4 {
      font-size: 18px;
      line-height: 1.15em;
      font-weight: 600;
      color: #001659;
      min-height: 25px;
      transition: all 0.3s;
    }
    .price {
      position: relative;
      display: block;
      line-height: 1;
      color: #001659;
      margin: 5px 0 0;
      font-size: 22px;
      font-weight: 900;
      margin-bottom: 5px;
    }
  }
  &:hover {
    .image {
      border-radius: 10px;
      img {
        transform: scale(1.1);
        filter: blur(5px);
      }
      a.btn-add-to-cart {
        bottom: 0 !important;
        transform: scale(1);
        opacity: 1;
      }
    }
    .content {
      h4 {
        color: #e01028;
      }
    }
  }
}

.shop-content {
  min-height: 70vh;
}

@media screen and (max-width: 768px) {
  .products {
    padding-right: 0px !important;
  }
  .sidebar {
    padding: 3rem 30px 1rem 15px !important;
    .searchform {
      margin-left: 15px;
    }
    h4 {
      padding-left: 15px !important;
    }
  }
  .products {
    padding-right: 0px !important;
  }

  .shop-content .content-shop {
    padding-left: 30px !important;
    padding-right: 0px !important;
  }

  .product-item {
    .image {
      a.btn-add-to-cart {
        flex-direction: column;
        height: 100px;
        bottom: 0;
      }
    }
  }
}

.flip-list-move {
  transition: transform 0.5s;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.list-move {
  transition: transform 1s;
}

.list-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-leave-active {
  position: absolute;
}

.membreship-box {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e8e8e9;
  border-bottom: 4px solid #ff5e14;
  padding: 10px 15px 20px 15px;
  margin-top: 75px;
  &.active {
    background-color: #343c4d;
    color: white;
  }
  &.dark-box {
    background-color: #00235a;
    border: 1px solid #00235a;
    border-bottom: 4px solid #00235a;
    box-shadow: -32px 32px 75px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -32px 32px 75px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -32px 32px 75px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px 15px 80px 15px;
    position: relative;
    top: -40px;
  }
  h4 {
    margin: 29px 0 0;
    display: block;
    padding: 20px 0 0 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    padding: 20px 0 0 16px;
  }
  .price {
    padding: 0 16px;
    display: block;
    width: 100%;
    h2 {
      font-size: 80px;
      line-height: 1em;
      letter-spacing: -0.01em;
      font-weight: 800;
      float: left;
    }
    sup {
      position: relative;
      vertical-align: super;
      top: -1px;
      font-size: 48px;
      line-height: 1em;
      font-weight: 600;
      margin-left: 10px;
    }
    span {
      font-size: 12px;
      line-height: 2.33em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 500;
      display: block;
      position: relative;
      top: -5px;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0 15px 8px;
      line-height: 34px;
      letter-spacing: 0;
      font-weight: 400;
      text-align: left;
      font-size: 18px;
      margin: 0;
      i {
        font-size: 12px;
        margin-right: 10px;
      }
    }
  }
}

#memberships-section {
  &.register {
    .membreship-box {
      &.selected {
        background-color: #001659;
        color: #fff;
        border-bottom: 4px solid #00235a;
      }
      ul {
        display: none;
      }
    }
  }
  
}

.header-profile {
  height: 500px;
  position: relative;
  background-color: #0a1229;
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .content {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
    &.not-gradient {
      background: none;
    }
  }
  .logo-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: 150px;
    border: 5px solid white;
    background-color: white;
    padding:1px;
  }
  .logo-text {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: 150px;
    border: 5px solid white;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #e01028;
    font-weight: 900;
    text-transform: uppercase;
  }
  h4 {
    color: white;
    font-weight: 900;
    margin-top: 55px;
    font-size: 45px;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.1);
  }
}

.navigation-supplier {
  width: 100%;
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    li {
      padding: 0px 50px;
      border-right: 1px solid silver;
      font-weight: 600;
      font-family: "Yantramanav", sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      cursor: pointer;
      height: 60px;
      border-bottom: 5px solid transparent;
      transition: all 0.3s;
      line-height: 65px;
      &:last-child {
        border-right: none;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        color: #e01028;
        border-bottom: 5px solid #e01028;
      }
      &.active {
        border-bottom: 5px solid #e01028;
      }
    }
  }
}

.popover-header {
  position: fixed;
  z-index: 9;
  background-color: white;
  top: 73px;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  border-bottom: 5px solid #e01028;
}

.cart-menu-popover {
  right: 68px;
  top: 70px;
  padding: 15px 30px;
  width: 500px;
  opacity: 0;
  top: 0;
  pointer-events: none;
  transition: all 0.3s;
  &.active {
    opacity: 1;
    top: 73px;
    pointer-events: initial;
  }
  h4 {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  ul {
    list-style: none;
    margin: 0;
    text-align: left;
    padding: 0 0px;
    margin-bottom: 30px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    li {
      display: flex;
      align-items: flex-start;
      height: 80px;
      border-bottom: 1px solid silver;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        .content {
          i {
            color: #e01028;
          }
        }
      }
      .image {
        width: 75px;
        height: 75px;
        margin-right: 15px;
        flex: 0 1 75px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          object-fit: contain;
          width: 100%;
        }
      }
      .content {
        width: calc(100% - 75px);
        padding-top: 15px;
        position: relative;
        padding-right: 45px;
        .quantity {
          float: right;
          margin-right: 7px;
        }
        h5 {
          margin-bottom: 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        i {
          position: absolute;
          right: 15px;
          top: 28px;
          font-size: 22px;
          color: silver;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            color: #e01028;
          }
        }
      }
      &:last-child {
        border-bottom: 0px;
      }
    }
  }
}

.cart-list {
  list-style: none;
  margin: 0;
  text-align: left;
  padding: 0 0px;
  margin-bottom: 30px;
  overflow-y: auto;
  li {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    padding: 30px;
    &:hover {
      .content {
        i.fa-times {
          color: #e01028;
        }
      }
    }
    .image {
      width: 150px;
      height: 150px;
      margin-right: 30px;
      flex: 0 1 150px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .content {
      width: calc(100% - 200px);
      padding-top: 15px;
      position: relative;
      padding-right: 150px;
      height: 150px;
      .actions {
        font-size: 14px;
        position: absolute;
        left: 0;
        bottom: 0;
        button {
          border: 0;
          background: transparent;
          transition: all 0.3;
          &.delete {
            &:hover {
              color: #e01028;
            }
          }
          &:focus {
            outline: none;
            border: 0;
          }
          i {
            font-size: 12px;
          }
        }
      }
      .price {
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-weight: bold;
        color: black;
        font-size: 18 px;
      }
      .quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15px;
        right: 0;
        color: silver;
        font-weight: normal;
        font-size: 12px;
        button,
        span {
          flex: 0 1 40px;
          width: 40px;
          border: 1px solid silver;
          background-color: white;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
        }
        span {
          font-size: 16px;
        }
        button:active {
          background-color: #e01028;
          color: white;
        }
      }
      h5 {
        margin-bottom: 5px;
      }
      i.fa-times {
        position: absolute;
        right: 15px;
        top: 28px;
        font-size: 22px;
        color: silver;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: #e01028;
        }
      }
    }
    &:last-child {
      border-bottom: 0px;
    }
  }
}

.cart-details {
  .contain-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  }
  table {
    width: 100%;
    td {
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  button {
    margin-top: 40px;
    width: 100%;
  }
  .totals {
    font-weight: bold;
  }
}

.user-menu-popover {
  right: 3px;
  opacity: 0;
  top: 0;
  pointer-events: none;
  transition: all 0.3s;
  &.active {
    opacity: 1;
    top: 73px;
    pointer-events: initial;
  }
  .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    h4 {
      margin-bottom: 20px;
    }
    ul {
      list-style: none;
      margin: 0;
      text-align: left;
      padding: 0 0px;
      li {
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        border-bottom: 1px solid silver;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s;
        &:last-child {
          border-bottom: 0px;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}

.info-nav-content {
  ul {
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
    font-size: 18px;
    margin-top: 30px;
    li {
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      padding: 0 15px;
    }
  }
}
