$base-color: #e01028;
$secondary-color: #00235a;
$darkColor: #0a1229;

.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.ma-1 {
  margin: 10px;
}

.ma-2 {
  margin: 20px;
}

.ma-3 {
  margin: 30px;
}

.ma-4 {
  margin: 40px;
}

.ma-5 {
  margin: 50px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

// Padings
.py-10 {
  padding: 75px 0;
}

// Custom Columns
.sc-md-6 {
  width: 50%;
}

.sc-md-3 {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .sc-md-3,
  .sc-md-6 {
    width: 100%;
  }
}

// Colors
.bg-primary {
  background-color: $base-color !important;
}

.bg-dark {
  background-color: $darkColor !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

.dark {
  color: white;
}

.relative {
  position: relative;
}

.bg-patter {
  background-image: url(https://wilmer.qodeinteractive.com/wp-content/themes/wilmer/assets/img/default_pattern.png);
}

.border-grey {
  border: 1px solid #1d263f;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.overflowx-hidden {
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.loader,
.loader-user {
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  &.fixed {
    position: fixed;
  }
  &.relativeloader {
    position: relative;
    height: 300px;
  }
  &.noalphaloader {
    background-color: rgba(255, 255, 255, 1);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
      /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.row {
  display: flex;
  .col-3 {
    flex: 0 1 25%;
    width: 25%;
  }  
}