<template>
  <div id="app" @click="bodyClick()">
    <header :class="headerScrollClass">
      <div class="logo">
        <router-link tag="span" to="/">
          <img src="./assets/logo@2x.png" alt="">
        </router-link> 
      </div>
      <div class="menu" :class="($store.getters.mobileMenu) ? 'menu-show' : ''">
        <img src="./assets/logo.png" alt="">
        <i class="fas fa-times close-menu" @click="closeMenu()"></i>
        <ul>
          <router-link @click.native="closeMenu()" tag="li" to="/">Inicio</router-link>                      
          <router-link @click.native="closeMenu()" tag="li" to="/afiliados">Afiliados</router-link>                  
          <router-link @click.native="closeMenu()" tag="li" to="/club">Club de compras</router-link>                                
          <router-link @click.native="closeMenu()" tag="li" to="/suplidores">Suplidores</router-link>                  
          <router-link @click.native="closeMenu()" tag="li" to="/instaladores">Instaladores</router-link>                            
          <router-link @click.native="closeMenu()" tag="li" to="/eventos">Eventos</router-link>                            
          <router-link @click.native="closeMenu()" tag="li" to="/nosotros">Nosotros</router-link>                                      
        </ul>
      </div>
      <div class="buttons-header">
        <a href="#!" class="login login-btn" @click.prevent="openLogin()" v-if="!getLoggedStatus()">ENTRAR</a>
        <button v-if="getLoggedStatus()" class="cart-menu"  @click.stop="togglePopover('cart')">
          <i class="fas fa-shopping-cart"></i> 
          <sup v-text="getCartCount()" v-if="getCartCount() > 0"></sup>   
        </button>
        <button v-if="getLoggedStatus()" class="user-menu" 
          @click.stop="togglePopover('user')">
          <i class="fas fa-user"></i>          
        </button>
        <button @click="openMenu()" class="mobile-menu" ><i class="fas fa-bars"></i></button>
      </div>
    </header>
    <UserMenuComponent></UserMenuComponent>    
    <CartMenuComponent></CartMenuComponent>  
    <vue-page-transition name="fade-in-right">
      <router-view/>
    </vue-page-transition>

    <div class="footer bg-dark dark">
      <div class="container py-10">
        <div class="row text-left">
          <div class="col-md-3">
            <h4>Nosotros</h4>
            <p>
              Get Wilmër and discover streamlined website construction today! Powerful elements, tons of flexible layouts and more inside.
            </p>
          </div>
          <div class="col-md-3">
            <h4>Navegación</h4>
            <p>
              <ul>
                <router-link tag="li" to="/">Inicio</router-link>        
                <router-link tag="li" to="/shop">Club de compras</router-link>        
              </ul>
            </p>
          </div>
          <div class="col-md-3">
            <h4>Nosotros</h4>
            <p>
              Get Wilmër and discover streamlined website construction today! Powerful elements, tons of flexible layouts and more inside.
            </p>
          </div>
          <div class="col-md-3">
            <h4>Dirección</h4>
            <p>
              Get Wilmër and discover streamlined website construction today! Powerful elements, tons of flexible layouts and more inside.
            </p>
          </div>
        </div>
      </div>
      <div class="row footer-bottom align-middle">
        <div class="col-md-1 border-grey border-bottom-0 "></div>
        <div class="col-md-3 col-lg-2 bg-primary logo-footer">
           <img src="./assets/logo_white.png" alt="">
        </div>
        <div class="col-md-4 col-lg-6 text-center align-middle border-grey border-bottom-0 ">
          © Copyright Construnetwork 2020 - Creado por <a href="#!">Singlecode</a>
        </div>
        <div class="col-md-3 col-lg-2 social">
          <div class="row">
            <div class="col-3 border-grey border-bottom-0 col-social">
              <a href="#!">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>
            <div class="col-3 border-grey border-bottom-0 col-social">
              <a href="#!">
                <i class="fab fa-twitter"></i>  
              </a>
            </div>
            <div class="col-3 border-grey border-bottom-0 col-social">
              <a href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
            <div class="col-3 border-grey border-bottom-0 col-social">
              <a href="#!">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-1 border-grey border-bottom-0 "></div>
      </div>
    </div>

  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

<script>
import UserMenuComponent from "@/components/UserMenuComponent.vue";
import CartMenuComponent from "@/components/CartMenuComponent.vue";
export default {
  components: {
    UserMenuComponent,
    CartMenuComponent
  },
  data() {
    return {
      headerScrollClass: ''
    }
  },
  methods: {    
    bodyClick() {
      this.$store.commit("setUserPopover",false);
      this.$store.commit("setCartPopover",false);
    },
    setPopover(type, status) {
      if(type == 'user') {
        this.$store.commit("setUserPopover",status);
      }
    },
    togglePopover(type) {
      if(type == 'user') {
        this.$store.commit("setUserPopover", !this.$store.getters.userPopover);        
        this.$store.commit("setCartPopover", false);        
      }
      if(type == 'cart') {
        this.$store.commit("setCartPopover", !this.$store.getters.cartPopover);        
        this.$store.commit("setUserPopover", false);        
      }
    },
    getLoggedStatus() {
      if(!this.$cookie.get("token") || this.$cookie.get("token") == null) {
        return false;
      }
      return true;
    },
    openLogin: function() {      
      this.$store.commit('changeLoginPopup', true)
    },
    openMenu() {
      this.$store.commit('changeMenuMobile',true)
    },
    closeMenu() {
      this.$store.commit('changeMenuMobile',false)
    },
    openMemberships() {
      this.closeMenu();
      this.$router.push({ name: "Home"}, () => {        
        setTimeout(() => {                    
          var top = document.getElementById('memberships-section').offsetTop;
          window.scrollTo(0, top);
        },500)
      });
      var top = document.getElementById('memberships-section').offsetTop;
      window.scrollTo(0, top);
    },
    getCartCount() {
      if(!this.$store.getters.cart) {
        return 0
      } else {
        return this.$store.getters.cart.length;
      }
    },
    handleScroll() {
      if(window.scrollY > 200)  {
        this.headerScrollClass = 'scroll';
      } else {
        this.headerScrollClass = '';
      }
    }
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  mounted() {
    this.$store.commit("setUser", this.$cookie.get("name"));
    this.$store.commit("setRole", this.$cookie.get("role"));
    this.$store.commit("setId", this.$cookie.get("uid"));
    this.$store.commit("setToken", this.$cookie.get("token"));

    window.addEventListener('scroll', this.handleScroll);
    
    if(!this.$store.getters.cart) {
      this.$store.commit("setCart", []);
    }

    try {
      this.$store.commit("setCart", JSON.parse(this.$cookie.get("cart")));
    } catch(err) {
      console.log(err);
    }
    var vm = this;
     this.$store.watch(
      (state, getters) => getters.cart,
      (newValue, oldValue) => {
        console.log(`Updating cart from ${oldValue} to ${newValue}`);      
        vm.$cookie.set("cart", JSON.stringify(newValue), 1);
      },
    );
  }
}
</script>